#MachineTraceCON {
  height: 350px;
}

#MachineTraceCON .jsavoutput.jsavline {
  height: 70px;
}

.highlight{
        fill: gray;
}

.largeLabel{
        font-size: 16px;
        text-align: center;
}

.thickLine{
        stroke-width: 3;
}

