#NFA2DFATraceCON {
    height: 600px;
    width: 1000px;
}

#NFA2DFATraceCON .start {
    font-style: italic;
    font-weight: bold;
}

#NFA2DFATraceCON .final {
    border: 3px double;
}

#NFA2DFATraceCON .testingND {
    background-color: blue;
}

#NFA2DFATraceCON .current {
    background-color: yellow;
}

#NFA2DFATraceCON .accepted {
    background-color: green;
}

#NFA2DFATraceCON .rejected {
    background-color: red;
}


#NFA2DFATraceCON .jsavlabel {
    font-size: 2em;
    text-align: center;
}

#NFA2DFATraceCON .jsavstatelabel {
    font-size: 1em;
    z-index: 700;
    position: absolute;
    display: inline-block;
    margin: 0;
}

#NFA2DFATraceCON .jsavmooreoutput {
    font-size: 1em;
    z-index: 700;
    position: absolute;
    display: inline-block;
    margin: 0;
}

#NFA2DFATraceCON .jsavnode {
    cursor: pointer;
}

#NFA2DFATraceCON .jsavedge {
    cursor: pointer;
    stroke: black;
    stroke-width: 1;
}

#NFA2DFATraceCON .testingLambda {
    color: red;
    stroke-width: 3;
    stroke: red;
}

#NFA2DFATraceCON .testingShorthand {
    stroke-width: 3;
    stroke: orange;
}

#NFA2DFATraceCON .edgeSelect {
    stroke-width: 3;
}

#NFA2DFATraceCON .jsavedgelabel {
    cursor: pointer;
    font-size: 1.0em;
}

#NFA2DFATraceCON .jsavarray .jsavindex {
    width: 200px;
    max-width: 1000px;
}


#NFA2DFATraceCON .jsavgraph .jsavedge {
    stroke-width: 2.0px !important;
}

#NFA2DFATraceCON .new {
    display: inline !important;
    border: none !important;
}

#NFA2DFATraceCON .jsavcontrols {
    display: unset !important;
}
