#TraceEvenBinaryDFACON {
    height: 410px;
}

#TraceEvenBinaryDFACON .start {
    font-style: italic;
    font-weight: bold;
}
#TraceEvenBinaryDFACON .final {
    border: 3px double;
}
#TraceEvenBinaryDFACON .testingND {
    background-color: blue;
}
#TraceEvenBinaryDFACON .current {
    background-color: yellow;
}
#TraceEvenBinaryDFACON .accepted {
    background-color: green;
}
#TraceEvenBinaryDFACON .rejected {
    background-color: red;
}

#TraceEvenBinaryDFACON .jsavlabel {
    font-size: 2em;
    text-align: center;
}
#TraceEvenBinaryDFACON .jsavstatelabel {
    font-size: 1em;
    z-index: 700;
    position: absolute;
    display: inline-block;
    margin: 0;
}
#TraceEvenBinaryDFACON .jsavmooreoutput {
    font-size: 1em;
    z-index: 700;
    position: absolute;
    display: inline-block;
    margin: 0;
}

#TraceEvenBinaryDFACON .jsavnode {
    cursor: pointer;
}
#TraceEvenBinaryDFACON .jsavedge {
    cursor: pointer;
    stroke: black;
    stroke-width: 1;
}
#TraceEvenBinaryDFACON .testingLambda {
    color: red;
    stroke-width: 3;
    stroke: red;
}
#TraceEvenBinaryDFACON .testingShorthand {
    stroke-width: 3;
    stroke: orange;
}
#TraceEvenBinaryDFACON .edgeSelect {
    stroke-width: 3;
}
#TraceEvenBinaryDFACON .jsavedgelabel {
    cursor: pointer;
    font-size: 1.0em;
}
#TraceEvenBinaryDFACON .jsavarray .jsavindex {
    width: 200px;
    max-width: 1000px;
}

#TraceEvenBinaryDFACON .jsavgraph .jsavedge {
    stroke-width: 2.0px !important;
}
#TraceEvenBinaryDFACON .new {
    display: inline !important;
    border: none !important;
}
