#kruskalCON {
  height: 550px;
}

#kruskalCON .jsavline {
      height: 110px;
}

#kruskalCON .jsavverticalarray .jsavindex:first-of-type, .jsavverticalarray .jsavindex:first-of-type .jsavvalue {
  -ms-border-top-left-radius: 0px;
  -moz-border-top-left-radius: 0px;
  -o-border-top-left-radius: 0px;
  -webkit-border-top-left-radius: 0px;
  border-top-left-radius: 0px;
  -ms-border-top-right-radius: 0px;
  -moz-border-top-right-radius: 0px;
  -o-border-top-right-radius: 0px;
  -webkit-border-top-right-radius: 0px;
  border-top-right-radius: 0px;
}
#kruskalCON .jsavverticalarray .jsavindex:last-of-type, .jsavverticalarray .jsavindex:last-of-type .jsavvalue {
  -ms-border-bottom-left-radius: 0px;
  -moz-border-bottom-left-radius: 0px;
  -o-border-bottom-left-radius: 0px;
  -webkit-border-bottom-left-radius: 0px;
  border-bottom-left-radius: 0px;
  -ms-border-bottom-right-radius: 0px;
  -moz-border-bottom-right-radius: 0px;
  -o-border-bottom-right-radius: 0px;
  -webkit-border-bottom-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
#kruskalCON .jsavhorizontalarray .jsavindex:first-of-type, .jsavhorizontalarray .jsavindex:first-of-type .jsavvalue {
  -ms-border-top-left-radius: 0px;
  -ms-border-bottom-left-radius: 0px;
  -moz-border-top-left-radius: 0px;
  -moz-border-bottom-left-radius: 0px;
  -o-border-top-left-radius: 0px;
  -o-border-bottom-left-radius: 0px;
  -webkit-border-top-left-radius: 0px;
  -webkit-border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
#kruskalCON .jsavhorizontalarray .jsavindex:last-of-type, .jsavhorizontalarray .jsavindex:last-of-type .jsavvalue {
  -ms-border-top-right-radius: 0px;
  -ms-border-bottom-right-radius: 0px;
  -moz-border-top-right-radius: 0px;
  -moz-border-bottom-right-radius: 0px;
  -o-border-top-right-radius: 0px;
  -o-border-bottom-right-radius: 0px;
  -webkit-border-top-right-radius: 0px;
  -webkit-border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

#kruskalCON .jsavverticalarray .jsavnode {
  line-height: 45px !important;
  min-width: 45px !important;
  max-width: 45px !important;
  min-height: 45px !important;
  max-height: 45px !important;
}

#kruskalCON .jsavhorizontalarray .jsavnode {
  line-height: 45px !important;
  min-width: 45px !important;
  max-width: 45px !important;
  min-height: 45px !important;
  max-height: 45px !important;
}

#DijkstraCON .jsavgraph .jsavedge {
  stroke-width: 1.5px;
}

#kruskalCON .jsavedge.markpath {
  stroke-width: 4;
  stroke: #f61010; //red
}
