#topSortDFSCON {
  height: 600px;
}

#topSortDFSCON .jsavhorizontalarray .jsavnode {
  line-height: 45px !important;
  min-width: 45px !important;
  max-width: 45px !important;
  min-height: 45px !important;
  max-height: 45px !important;
}

#topSortDFSCON .jsavverticalarray .jsavnode {
  line-height: 45px !important;
  min-width: 45px !important;
  max-width: 45px !important;
  min-height: 45px !important;
  max-height: 45px !important;
}
