#topSortQCON {
  height: 600px;
}

#topSortQCON .avcontainer{
  overflow: visible;
}

#topSortQCON .jsavline{
  height: 50px;
}

#topSortQCON .jsavarray.jsavindex {
height: 50px;
width: 100px;
}


#topSortQCON .jsavhorizontalarray .jsavnode {
  line-height: 45px !important;
  min-width: 45px !important;
  max-width: 45px !important;
  min-height: 45px !important;
  max-height: 45px !important;
}

#topSortQCON .jsavverticalarray .jsavnode {
  line-height: 45px !important;
  min-width: 45px !important;
  max-width: 45px !important;
  min-height: 45px !important;
  max-height: 45px !important;
}
