/** Relevant parts of Meyer's CSS Reset 
(http://meyerweb.com/eric/tools/css/reset/) */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	border: 0;
	/* font-size: 100%; */
	/* font: inherit */
	/*vertical-align: baseline;*/
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** End Meyer's stuff **/

/******* GENERAL DEFAULTS *****/
h1 { font-size: 2em; }
h2 { font-size: 1.5em; margin: 0.83em 0;}
h3 { font-size: 1.17em; margin: 1em 0;}
h1, h2, h3, h4, h5, h6 { font-weight: bold;}
p { font-size: 1em; }
input {font-size: 0.7em; }
/******* END GENERAL DEFAULTS *****/

html, body {
  background-color: #eed;
  color: #000000;
  margin: 0px;
  padding: 10px;
}

div h1 {
  text-align: center;
  border-bottom: 1px solid black;
  background-color: #eed;
  margin: -8px -8px 0px -8px;
  padding: 8px 8px 2px 8px;
}

div section { 
  border-top: 1px solid black;
}

figcaption { 
  color:blue;
}

var.cvar {
  font-weight: bold;
  font-style: Normal;
}

p.TODO {
  color:red;
}

p.footertext { 
  border-top: 1px solid black;
}

p.annotation {
  color:red;
}

a, a:visited {
  color: #900;
}

a:hover {
  color: #d70;
}

applet {
  border: 1px solid black;
}

dfn {
  font-style: Normal;
  font-weight: bold;
}
