[submodule "QBank"]
	path = QBank
	url = https://github.com/OpenDSA/QBank.git
[submodule "khan-exercises"]
	path = khan-exercises
	url = https://github.com/OpenDSA/khan-exercises.git
	branch = master
[submodule "lib/hieroglyph"]
	path = lib/hieroglyph
	url = https://github.com/sublime09/hieroglyph.git
	branch = master
