#Temp files
*~
modules.json
modules.csv

# Documentation build directory
Doc/manual

#Books directory (these are build targets)
Books

#RST build directory
RST/build
RST/source/ToDo.rst
RST/source/conf.py

#Ignore the copy we make of khan-site.html
lib/khan-exercises/exercises/khan-site.html

#ignore compiled Python files
*pyc

# Minified JS and CSS files
lib/*-min.*
