[submodule "QBank"]
	path = QBank
	url = git://github.com/cashaffer/QBank.git
[submodule "JSAV"]
	path = JSAV
	url = https://github.com/vkaravir/JSAV.git
[submodule "OpenPOP"]
	path = OpenPOP
	url = git://github.com/OpenDSA/OpenPOP
