#Temp files
*~
modules.json
modules.csv

#build HTML directory
build

#RST build directory
RST/build
RST/source/ToDo.rst

#Ignore the copy we make of khan-site.html
lib/khan-exercises/exercises/khan-site.html

#ignore compiled Python files
*pyc
