#container {
  width: 800px;
  height: 700px;
}

.avcontainer{
  overflow: visible;
}

.jsavline{
  height: 50px;
}

.jsavautoresize .jsavnode {
  min-width: 35px;
  min-height: 35px;
}

.jsavarray .jsavindex {
height: 50px;
width: 100px;
}

.jsavgraph .jsavedge {
  stroke-width: 1.5px;
}

.jsavautoresize .jsavgraph .jsavnode {
  width: 100px;

}
