#container {
  width: 800px;
  height: 670px;
}

.avcontainer{
  overflow: visible;
}

.jsavline{
  height: 50px;
}

.jsavgraph .jsavedge {
  stroke-width: 1.5px;
}

.jsavedge.markpath{
  stroke-width: 4;
  stroke: #f61010; //red
}


.jsavarray .jsavindex {
  width: 100px;
  height: 100px;

}
