#container {
  width: 800;
  height: 600px;
}

.avcontainer{
  overflow: visible;
}

.jsavline{
  height: 50px;
}

.jsavarray .jsavindex {
  width: 70px;
}

.jsavgraph .jsavedge {
  stroke-width: 1.5px;
}
