#KCliqueFS {
  height: 550px;
}

#KCliqueFS .jsavoutput.jsavline {
  height: 60px;
}

#KCliqueFS .jsavhorizontalarray .jsavnode {
  min-width: 30px !important;
  max-width: 300px !important;
}

#KCliqueFS .edgehighlight{
  stroke:LightCoral;
  stroke-width: 5;
}

