#TravelSalesmanFS {
  height: 500px;
}

#TravelSalesmanFS .jsavoutput.jsavline {
  height: 60px;
}

#TravelSalesmanFS .jsavhorizontalarray .jsavnode {
  min-width: 30px !important;
  max-width: 300px !important;
}

#TravelSalesmanFS .jsavmatrix .jsavarray {
  position: relative;
  top: 0;
}
