#iteration1CON .jsavnode, #iteration2CON  .jsavnode, #iteration3CON  .jsavnode {
  min-width: 40px !important;
  min-height: 40px !important;
  background: #74a55b;
}

#iteration1CON .jsavvaluelabel, #iteration2CON  .jsavvaluelabel, #iteration3CON  .jsavvaluelabel {
  font-weight: 600;
}

#iteration1CON .labels, #iteration2CON .labels, #iteration3CON  .labels  {
  position: relative;
  display: block;
  color: white;
  font-size: 170%;
  z-index: 500;
  font-weight: 600;
}

 #iteration2CON .midlabel, #iteration3CON .midlabel {
  font-size: 150%;
}

#iteration2CON .smalllabel, #iteration3CON .smalllabel {
 font-size: 130%;
}

#iteration2CON .valuelabel  {
 font-size: 150%;
 color: yellow;
}

#iteration2CON .statelabel, #iteration3CON .statelabel  {
 font-size: 120%;
 font-weight: 600;
}

#iteration3CON .valuelabel  {
 font-size: 150%;
 color: yellow;
 background-color: #593f73;
 }

#iteration1CON .box, #iteration2CON .box, #iteration3CON .box  {
  fill : #a55ba5;
  stroke : #a55ba5;
  z-index: -500;
}

#iteration1CON .bluebox, #iteration2CON  .bluebox, #iteration3CON  .bluebox  {
  fill : rgb(91, 91, 165);
  stroke : rgb(91, 91, 165);
  z-index: -500;
}

#iteration1CON .blueboxh, #iteration2CON  .blueboxh, #iteration3CON  .blueboxh  {
  fill : #e6eeff;
  stroke : #e6eeff;
}

#iteration2CON .statebox, #iteration3CON .statebox  {
  stroke : Maroon;
  z-index: -500;
  border-width: inherit;
  border-radius: 50px;
}

#iteration2CON .consolebox, #iteration3CON .consolebox  {
  stroke : white;
  fill: black;
  z-index: -500;
  border-width: inherit;
  border-radius: 50px;
}

#iteration3CON  .calbox  {
  fill : #805ba5;
  stroke : #805ba5;
  z-index: -500;
}

#iteration3CON  .calboxhigh  {
  fill : #f2eff6;
  stroke : #f2eff6;
  z-index: -500;
}


#iteration1CON .hiding {
  visibility: hidden;
}
