.jsavhorizontalarray .jsavnode{
  min-width: 65px !important;
  min-height: 45px !important;
  max-width: 65px !important;
  max-height: 45px !important;
}
.jsavcanvas.jsavcontainer{
	height: 250px;
}
.jsavcanvas{
	height: 200px;
}
