#av {
	width: 98%;
	position: relative;
}
.arrayPlace {
	max-width: 100%;
    overflow: scroll;
}
.start {	
	font-style: italic;
	font-weight: bold;
}
.final {
	border: 3px double;
}
.testingND {
	background-color: blue;
}
.current {
	background-color: yellow;
}
.accepted {
	background-color: green;
}
.rejected {
	background-color: red;
}
.jsavcontrols {
	display: none;
}
.jsavlabel {
	font-size: 2em;
	text-align: center;
}
.jsavstatelabel {
	font-size: 1em;
	z-index: 700;
	position: absolute;
	display: inline-block;
	margin: 0;
}
.jsavmooreoutput {
	font-size: 1em;
	z-index: 700;
	position: absolute;
	display: inline-block;
	margin: 0;
}
.jsavcanvas {
	height: 500px;
}
.jsavgraph {
	outline: 1px black solid;
	border: 10px transparent solid;
}
.jsavnode {
	cursor: pointer;
}
.jsavedge {
	cursor: pointer;
	stroke: black;
	stroke-width: 2;
}
.testingLambda {
	stroke-width: 3;
	stroke: red;
}
.testingShorthand {
	stroke-width: 3;
	stroke: orange;
}
.edgeSelect {
	stroke-width: 4;
}
.jsavedgelabel {
	cursor: pointer;
	font-size: 1.5em;
}