{% macro user_info(username, user_data) -%}
{{ username_and_notification(username, user_data) }}
{{ badges.badge_counts(user_data) }}
{{ user_points(user_data) }}
{%- endmacro %}

{% macro user_points(user_data, points=0) -%}
    {% if user_data %}
        {% set points = user_data.points if user_data else 0 %}
    {% endif %}
    <span id="user-points-container">{{ user_points_content(points) }}</span>
{%- endmacro %}

{% macro user_points_content(points=0) -%}
<span title="{{ points|thousands_separated }} energy points" class="energy-points-badge" onclick="location.href='/profile?k'" {% if not points %} style="display: none" {% endif %}>{{ points|thousands_separated }}</span>
{%- endmacro %}

{% macro username_and_notification(username, user_data) -%}
{% set count = user_data.feedback_notification_count() if user_data else 0 %}
<span class="username_and_notification "{% if count %}username_and_notification_shift{% endif %}">
    <span class="user-notification">
        <a class="notification_link" href="/discussion/videofeedbacknotificationlist"
            {% if count %}
                title="{{ count }} new answers to your questions"
            {% else %}
                title="No new answers to your questions"
            {% endif %}
        >
            {% if count %}
            <img src="{{ "/images/email.png"|static_url }}" class="icon" style="width:16px;height:11px;"/><span class="notification_bubble">{{ count }}</span></a>
            {% else %}
            <img src="{{ "/images/email-gray.png"|static_url }}" class="icon" style="width:16px;height:11px;"/></a>
            {% endif %}
    </span>
    <span class="user-name"><a href="/profile?k">{{username|escape}}</a></span>
</span>
{%- endmacro %}

{% macro user_video_css(user_data) -%}
    {% if user_data %}
    <link rel='stylesheet' type='text/css' href='/user_video_css?version={{ user_data.uservideocss_version }}&id={{ user_data.user_id }}' />
    {% endif %}
{%- endmacro %}

{% macro possible_points_badge(points, possible_points, logged_in=True) -%}
<div class="video-energy-points"{% if logged_in %} title="{{ points }} Energy Points earned for watching this video"{% else %} title="You're earning points for watching this video. Sign in to keep them"{% endif %}><span class="video-energy-points-current">{{ points }}</span> of {{ possible_points }}</div>
{%- endmacro %}

{% macro simple_student_info(user_data_student) -%}
<div id="simple-student-info">
    <nobr><span class="member-for">Member for: {{ user_data_student.seconds_since_joined|seconds_to_time_string() }}</span></nobr>
</div>
{%- endmacro %}
