#UFfigCON {
  height: 380px;
}

#UFconcomCON {
  height: 250px;
}

/* Hack until vertical array width is fixed */
#ufCON .jsavverticalarray {
  width: 40px !important;
}

#ufCON .jsavcode{
  margin-top: 20px;
  margin-left: 50px;
}

#pathcompCON {
  height: 405px;
}

.jsavvalue {
  height:0;
}

.jsavline {
  height: 80px;
}
