#UFfigCON {
  height: 360px;
}

#UFconcomCON {
  height: 260px;
}

#ufCON .jsavcode{
  margin-top: 20px;
  margin-left: 50px;
  width: 520px;
}

#pathcompCON {
  height: 455px;
}

#pathcompCON .jsavoutput.jsavline {
  height: 60px;
}

.highlight { /* Make a node yellow */
  background-color: yellow;
  border-color: black;
  box-shadow: 2px 2px 2px rgba(120, 120, 120, 0.5);
}

