#TravelSalesman {
  height: 700px;
  width: 1100px
  }
  
  #TravelSalesman .jsavoutput.jsavline {
    height: 60px;
  }
  
  #TravelSalesman .jsavhorizontalarray .jsavnode {
    min-width: 30px !important;
    max-width: 300px !important;
  }
  
  #TravelSalesman .jsavmatrix .jsavarray {
    position: relative;
    top: 0;
  }