#container { 
    width: 1000px;
    height: 750px;
  }
  
  .avcontainer{
    overflow: visible;
    width:1000px;
  }
  
  .jsavline{
    height: 50px;
  }

table {
    position: relative;
    width:800px;
    height:300px;
    margin:auto;
}

.data {
    width: 95%;
    height: 100px;
    display: block;
    margin : 0 auto;
    
}
td {
    width:250px;
    margin:auto;
    border: 1px solid #B6C0B2;
    background-color: #E2EEDD;
}
.bsize1 {
    /* position: absolute; */
    /* left: 55px;*/
    top: 42px;
    margin:auto;
    text-align: center;
}

#tablesize {
    /* position: absolute; */
    left: 200px;
    top: 85px;
}

#calculate {
    /* position: absolute; */
    right: 5px;
    top: 95px;
}