#container {
    width: 525px;
    height: 225px;
    position: relative;
}

.instructions {
    border: 0;
    padding: 0;
    margin: 0;
    text-align: center;
}

.bsize {
    position: absolute;
    left: 10px;
    top: 42px;
}

#blockNum {
    position: absolute;
    left: 175px;
    top: 55px;
    width: 50px;
}

.tsize {
    position: absolute;
    left: 10px;
    top: 70px;
}

#tablesize {
    position: absolute;
    left: 10px;
    top: 110px;
    right: 10px;
    height: 50px;
    resize: none;
}

.label {
    position: absolute;
    bottom: 20px;
    left: 10px;
}

.output {
    left: 10px;
    position: absolute;
    bottom: 10px;
    text-align:center;
    right: 10px;
    margin: auto 0;
    display: block;
    font-size: 10pt;
    font-family: Courier;
}
