#container { 
    width: 1000px;
    height: 750px;
  }
  
  .avcontainer{
    overflow: visible;
    width:1000px;
  }
  
  .jsavline{
    height: 50px;
  }

  /* #container {
    width: 800px;
    height: 165px;
    position: relative;
    } */

.instructions {
    border: 0;
    padding: 0;
    margin: 0;
    text-align: center;
}

#testDiv {
    width:250px;
    height:150px;
    background-color: aquamarine;
    margin:auto;
}
table {
    position: relative;
    width:800px;
    height:300px;
    margin:auto;
}

.data {
    width: 95%;
    height: 100px;
    display: block;
    margin : 0 auto;
    
}
td {
    width:250px;
    margin:auto;
    border: 1px solid #B6C0B2;
    background-color: #E2EEDD;
}
input {
    text-align: left;
}
.bsize1 {
    /* position: absolute; */
    /* left: 55px;*/
    top: 42px;
    margin:auto;
    text-align: center;
}

#blockNum1 {
    /* position: absolute; */
    /* left: 200px; */
    top: 55px;
    margin:auto;
}

.bsize2 {
    /* position: absolute; */
    /* left: 55px; */
    top: 42px;
    margin:auto;
}

#blockNum2 {
    /* position: absolute; */
    /* left: 200px; */
    top: 55px;
    margin:auto;
}

.bsize3 {
    /* position: absolute; */
    /* left: 55px; */
    top: 42px;
    margin:auto;
}

#blockNum3 {
    /* position: absolute; */
    /* left: 200px; */
    top: 55px;
    margin:auto;
}

.tsize {
    /* position: absolute; */
    left: 55px;
    top: 70px;
}

#tablesize {
    /* position: absolute; */
    left: 200px;
    top: 85px;
}

#calculate {
    /* position: absolute; */
    right: 5px;
    top: 95px;
}

.output {
    /* position: absolute; */
    top: 150px;
    text-align:center;
    width: 250px;
    margin: 0;
}

.wrapText {
    width: 100px;
    margin: 0 auto;
}