#container { 
    width: 1250px;
    height: 400px;
  }
  
  .avcontainer{
    overflow: visible;
    width:1000px;
  }
  
  .jsavline{
    height: 50px;
  }

table {
    position: relative;
    width:800px;
    height:300px;
    margin:auto;
}

.scrolling {
    overflow-x: scroll;
}

p {
    word-break: break-all;
    display: inline-block;
}

div {
    margin-bottom: 15px;
}

.data {
    width: 95%;
    height: 100px;
    display: inline-block;
    margin : 0 auto;
    
}
td {
    width:250px;
    margin:auto;
    border: 1px solid #B6C0B2;
    background-color: #E2EEDD;
}

p {
    word-break: break-all;
}

.bsize1 {
    /* position: absolute; */
    /* left: 55px; */
    top: 42px;
    margin:auto;
    text-align: center;
    word-wrap: break-words;
}


#tablesize {
    /* position: absolute; */
    left: 200px;
    top: 85px;
}

#calculate {
    /* position: absolute; */
    right: 5px;
    top: 95px;
}