#container {
    width: 525px;
    height: 165px;
    position: relative;
}

.instructions {
    border: 0;
    padding: 0;
    margin: 0;
    text-align: center;
}

.inputLabel {
    position: absolute;
    left: 55px;
    top: 70px;
}

#inputArea {
    position: absolute;
    top: 45px;
}

.label {
    position: absolute;
    top: 105px;
    left: 75px;
}

.output {
    position: absolute;
    top: 110px;
    left: 25%;
    text-align: left;
    width: 260px;
    margin: auto 0;
    display: block;
    font-size: 10pt;
    font-family: Courier;
}

textarea {
    resize: none;
}