
  .thinredline {
    stroke: red;
  }
  
  .rededge { /* Make a tree edge to be red */
    stroke: red;
    stroke-width: 3;
  }
  
  .rednode { /* Make a node red */
    background-color: white;
    color: red;
    border-color: red;
    box-shadow: 2px 2px 2px rgba(120, 120, 120, 0.5);
  }
  
  