#container {
    width: 525px;
    height: 165px;
    position: relative;
}

.instructions {
    border: 0;
    padding: 0;
    margin: 0;
    text-align: center;
}

.bsize {
    position: absolute;
    left: 55px;
    top: 42px;
}

#inputArea {
    position: absolute;
    top: 45px;
}

.tsize {
    position: absolute;
    left: 55px;
    top: 70px;
}

#tablesize {
    position: absolute;
    left: 200px;
    top: 85px;
    width: 100px;
}

.label {
    position: absolute;
    top: 102px;
    left: 135px;
}

.output {
    position: absolute;
    top: 115px;
    left: 35%;
    text-align:center;
    margin: auto 0;
    display: block;
    font-size: 10pt;
    font-family: Courier;
}

textarea {
    resize: none;
}
