.jsavmatrix .jsavvalue { /* Center linked list cell values vertically */
  height: 30px;
  width: 30px;
}

.jsavcanvas {
  overflow-y: scroll;
}
.jsavhorizontalarray .jsavnode {
	min-width: 80px !important;
  max-width: 80px !important;
}
/* Borrowed from those smart guys @ Fog Creek. Props to Justin & Bobby */
.fancy-scrollbar::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}

.fancy-scrollbar::-webkit-scrollbar-button:start:decrement,
.fancy-scrollbar::-webkit-scrollbar-button:end:increment {
  background: transparent;
  display: none;
}

.fancy-scrollbar::-webkit-scrollbar-track-piece {
  background: transparent;
}

.fancy-scrollbar::-webkit-scrollbar-track-piece:vertical:start {
  -webkit-border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
}

.fancy-scrollbar::-webkit-scrollbar-track-piece:vertical:end {
  -webkit-border-bottom-left-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
}

.fancy-scrollbar::-webkit-scrollbar-track-piece:horizontal:start {
  -webkit-border-top-left-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
}

.fancy-scrollbar::-webkit-scrollbar-track-piece:horizontal:end {
  -webkit-border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
}

.fancy-scrollbar::-webkit-scrollbar-thumb:vertical,
.fancy-scrollbar::-webkit-scrollbar-thumb:horizontal {
  background: #ccc;
  border: 1px solid #aaa;
  -webkit-border-radius: 4px;
  display: block;
  height: 50px;
}
