#recurTraceWindCON{
  height: 270px;
}

#recurTraceSumCON{
  height: 325px;
}

#recurTraceSumCON .jsavoutput.jsavline {
  height: 30px;
}

#recurTraceFactCON{
  height: 580px;
}

#recursionTrcSum2CON{
  height: 350px;
}

#recursionTrcDmnCON{
  height: 450px;
}

#recursionTrcDmnPrntCON {
  height: 450px;
}

#recursionTrcDmnCntCON{
  height: 420px;
}

#recursionTrcTOHCON {
  height: 600px;
}

.dominocolor{
  fill:grey;
}

.tilteddominocolor{
   fill:lightgray;
}

.digitstyle{
  font-size: 15px;
  text-align: center;
}

.disk0color{
  fill:grey;
}

.disk1color{
  fill:yellow;
}

.disk2color{
  fill:purple;
}

.disk3color{
  fill:green;
}

.polecolor{
  fill:brown;
}
