

RecursionWriteCON1.jsavcanvas {
 margin-left: auto;
 margin-right: auto;
 height: 200px;
 width: 540px;
}


.jsavcanvas {
 margin-left: auto;
 margin-right: auto;
 height: 200px;
 width: 540px;
}

.svg{
  stroke-width: 1;
}
