.jsavlabel { 
width: 100px;
height: 100px;
color: blue;
background-image: url(Icons/person.png);
background-size: cover;
}

.jsavlabel.forward {
background-image: url(Icons/person2.png);
}	


.jsavcanvas {
 margin-left: auto;
 margin-right: auto;
 height: 300px;
 width: 540px;
}


#RecursionIntroCON3 .jsavcanvas{
 height: 500px;
 width: 700px;
}

#RecursionIntroCON3 .jsavcode{
 
 width: 250px;
}

#RecursionIntroCON4 .jsavcanvas{
 height: 500px;
 width: 700px;
}

#RecursionIntroCON5 .jsavcanvas{
 height: 500px;
 width: 700px;
}


.svg{
  stroke-width: 1;
}
