RecursionTraceCON4.jsavcanvas {
 margin-left: auto;
 margin-right: auto;
 height:400px;
 width: 400px;
}

.jsavcanvas {
 margin-left: auto;
 margin-right: auto;
 height: 400px;
 width: 540px;
}


.svg{
  stroke-width: 1;
}
