#aqueueFirstCON {
  height: 280px;
}
#aqueueFirstCON .jsavoutput.jsavline {
  height: 55px;
}

#aqueueDriftCON {
  height: 280px;
}
#aqueueDriftCON .jsavoutput.jsavline {
  height: 75px;
}
#aqueueBadCON {
  height: 280px;
}
#aqueueBadCON .jsavoutput.jsavline {
  height: 75px;
}
#aqueueCircularCON {
  height: 420px;
}
#aqueueCircularCON .jsavoutput.jsavline {
  height: 70px;
}
#aqueueEmptyCON {
  height: 400px;
}
#aqueueEmptyCON .jsavoutput.jsavline {
  height: 55px;
}
#aqueueVarCON {
  height: 480px;
}
#AQueueVarCON .jsavoutput.jsavline {
  height: 40px;
}
#aqueueVarCON .jsavcode{
  border: 1px solid;
  border-color: white; 
  top: -10px;
  width:700px;
}
