#aqueueFirstCON {
  height: 225px;
}

#aqueueFirstCON .jsavoutput.jsavline {
  height: 30px;
}

#aqueueDriftCON {
  height: 250px;
}

#aqueueDriftCON .jsavoutput.jsavline {
  height: 55px;
}

#aqueueBadCON {
  height: 250px;
}

#aqueueBadCON .jsavoutput.jsavline {
  height: 55px;
}

#aqueueCircularCON {
  height: 420px;
}

#aqueueCircularCON .jsavoutput.jsavline {
  height: 50px;
}

#aqueueEmptyCON {
  height: 380px;
}

#aqueueEmptyCON .jsavoutput.jsavline {
  height: 70px;
}

#aqueueVarCON {
  height: 410px;
}

#aqueueVarCON .jsavoutput.jsavline {
  height: 30px;
}
