.jsavcanvas{
	height: 500px;
}

.jsavpointer{
  
  border:1px solid #eee;
}
.jsavlabel.jsavpointer{
  width:35px;
}
.jsavlabel{
  width:40px;
  height: 22px;
  text-align:center;
}
.jsavhorizontallist.jsavautoresize .jsavnode{
  min-width: 30px;
  min-height: 30px; 
  max-height: 45px;
  line-height: 30px;
}

.jsavhorizontalarray.jsavautoresize .jsavnode {
  min-width: 30px;
  max-width: 30px;
  min-height: 30px;
  max-height: 30px;
  line-height: 30px;
}

.jsavverticalarray.jsavautoresize .jsavnode {
  min-width: 30px;
  max-width: 30px;
  min-height: 30px;
  max-height: 30px;
  line-height: 30px;
}

#AQueueFirstNposCON {
  height: 280px;
}
#AQueueFirstNposCON .jsavoutput.jsavline {
  height: 55px;
}

#AQueueDriftposCON {
  height: 280px;
}
#AQueueDriftposCON .jsavoutput.jsavline {
  height: 75px;
}
#AQueueBadCON {
  height: 280px;
}
#AQueueBadCON .jsavoutput.jsavline {
  height: 75px;
}
#AQueueCircularCON {
  height: 420px;
}
#AQueueCircularCON .jsavoutput.jsavline {
  height: 70px;
}
#AQueueEmptyFullCON {
  height: 400px;
}
#AQueueEmptyFullCON .jsavoutput.jsavline {
  height: 55px;
}
#AQueueVarCON {
  height: 480px;
}
#AQueueVarCON .jsavoutput.jsavline {
  height: 40px;
}
#AQueueVarCON .jsavcode{
  border: 1px solid;
  border-color: white; 
  top: -10px;
  width:700px;
}
#LQueueIntroCON {
  height: 530px;
}
#LQueueIntroCON .jsavoutput.jsavline {
  height: 40px;
}
#LQueueIntroCON .jsavcode{
  border: 1px solid;
  border-color: white; 
  position: relative;
  left: 150px;
  top: -10px;
  width:535px;
}
#LQueueEnqueueCON {
  height: 270px;
}
#LQueueEnqueueCON .jsavoutput.jsavline {
  height: 40px;
}
#LQueueEnqueueCON .jsavcode{
  border: 1px solid;
  border-color: white; 
  position: relative;
  left: 200px;
  top: -10px;
  width:450px;
}
#LQueueDequeueCON {
  height: 350px;
}
#LQueueDequeueCON .jsavoutput.jsavline {
  height: 40px;
}
#LQueueDequeueCON .jsavcode{
  border: 1px solid;
  border-color: white; 
  position: relative;
  left: 150px;
  top: -10px;
  width:550px;
}