.jsavnode .jsavvalue { /* This will get the array cell values to center vertically */
  height: 30px;
}

.jsavnode {
  line-height: 30px !important;
  min-width: 30px !important;
  max-width: 30px !important;
  min-height: 30px !important;
  max-height: 30px !important;
}

#AlistRemoveCON {
  height: 375px;
}

#AlistRemoveCON .jsavcode {
  margin-left: 287px;
  width: 560px;
}

.ssAV .jsavline {
  height: 45px;
}

.jsavcanvas {
  height:50px;
}
