.jsavcanvas{
	height: 500px;
}

.jsavpointer{
  border:1px solid #eee;
}
.jsavhorizontallist.jsavautoresize .jsavnode{
  min-width: 30px;
  min-height: 30px; 
  max-height: 45px;
  line-height: 30px;
}

.jsavhorizontalarray.jsavautoresize .jsavnode {
  min-width: 30px;
  max-width: 30px;
  min-height: 30px;
  max-height: 30px;
  line-height: 30px;
}

.jsavverticalarray.jsavautoresize .jsavnode {
  min-width: 30px;
  max-width: 30px;
  min-height: 30px;
  max-height: 30px;
  line-height: 30px;
}
#AStackVarCON {
  height: 480px;
}
#AStackVarCON .jsavoutput.jsavline {
  height: 50px;
}
#AStackTopposCON {
  height: 250px;
}
#AStackTopposCON .jsavoutput.jsavline {
  height: 30px;
}
#AStackPushCON {
  height: 230px;
}
#AStackPushCON .jsavoutput.jsavline {
  height: 30px;
}
#AStackPushCON .jsavcode{
  border: 1px solid;
  border-color: white;
  position: relative;
  top: 0px;
  left: 170px;
  width: 500px;
}
#AStackPopCON {
  height: 240px;
}
#AStackPopCON .jsavoutput.jsavline {
  height: 30px;
}
#AStackPopCON .jsavcode{
  border: 1px solid;
  border-color: white;  
  position: relative;
  top: 30px;
  left: 170px;
  width: 500px;
}
#LStackDiagramCON {
  height: 80px;
}

#LStackPushCON {
  height: 230px;
}
#LStackPushCON .jsavoutput.jsavline {
  height: 30px;
}
#LStackPushCON .jsavcode{
  border: 1px solid;
  border-color: white;  
  position: relative;
  top: 0px;
  left: 190px;
  width: 450px;
}

#LStackPopCON {
  height: 280px;
}
#LStackPopCON .jsavoutput.jsavline {
  height: 30px;
}
#LStackPopCON .jsavcode{
  border: 1px solid;
  border-color: white;  
  position: relative;
  top: -10px;
  left: 190px;
  width: 450px;
}
#LStackTwostacksCON {
  height: 120px;
}


