#listADTCON1 { 
  height: 200px;
}
#listADTCON1 .jsavnode{
  border: 0px;
  background-color: #eed;
  line-height: 60px;
  font-size: 20px;
  min-width: 65px;
  box-shadow:0px 0px 0px;
}
#listADTCON2 { 
  height: 200px;
}
#listADTCON2 .jsavnode{
  border: 0px solid;
  background-color: #eed;
  line-height: 50px;
  font-size: 20px;
  min-width: 40px;
  box-shadow:0px 0px 0px;
}


#listADTCON2 .ssAV .jsavline{
	height: 30px;
}

.jsavcanvas{
  width: 850px;
}
