.jsavcanvas{
	height: 200px;
}

.jsavpointer{
  border:1px solid #eee;
}
.jsavhorizontallist.jsavautoresize .jsavnode{
  min-width: 50px;
  min-height: 30px; 
  max-height: 45px;
  line-height: 30px;
  text-align: center;
}
.jsavhorizontalarray.jsavautoresize .jsavnode {
  min-width: 35px;
  max-width: 35px;
  min-height: 35px;
  max-height: 35px;
  line-height: 35px;
}
#DLlistDiagramCON {
  height: 100px;
}
#DLlistDiagramCON .jsavoutput.jsavline {
  height: 75px;
}
#DLlistInsertCON {
  height: 400px;
}
#DLlistInsertCON .jsavcode{
  border: 1px solid;
  border-color: white;
  width: 510px;
  position: relative;
  top: 115px;
}

#DLlistAppendCON {
  height: 380px;
}
#DLlistAppendCON .jsavcode{
  border: 1px solid;
  border-color: white;
  width: 510px;
  position: relative;
  top: 115px;
}

#DLlistRemoveCON {
  height: 510px;
}
#DLlistRemoveCON .jsavcode{
  border: 1px solid;
  border-color: white;
  width: 590px;
  position: relative;
  top: 145px;
}

#DLlistPrevCON {
  height: 380px;
}
#DLlistPrevCON .jsavcode{
  border: 1px solid;
  border-color: white;
  position: relative;
  width: 600px;
  top: 140px;
}
