.jsavhorizontalarray .jsavnode{
  min-width: 75px !important;
  min-height: 55px !important;
  max-width: 75px !important;
  max-height: 55px !important;
}
.jsavcanvas.jsavcontainer{
	height: 110px;
}
.jsavcanvas{
	height: 110px;
}
.jsavarray * {
        -webkit-transform-style: flat !important;
}
.jsavnode{
	border: none;
	box-shadow: none;
	background-color: inherit;
}
