#av {
	width: 100%;
	position: relative;
}
.arrayPlace {
	max-width: 100%;
	overflow: initial;
}
.start {
	font-style: italic;
	font-weight: bold;
}
.final {
	border: 3px double;
}
.testingND {
	background-color: blue;
}
.current {
	background-color: yellow;
}
.accepted {
	background-color: green;
}
.rejected {
	background-color: red;
}
.testingLambda {
	color: red;
	stroke-width: 3;
	stroke: red;
}
.testingShorthand {
	stroke-width: 3;
	stroke: orange;
}
.edgeSelect {
	stroke-width: 3;
}
.new {
	display: inline !important;
	border: none !important;
}

.icon_btn {
    background-color: White;
    border: none;
    color: Black;
    padding: 3px 8px;
    font-size: 12px;
    cursor: pointer;
}

/* Darker background on mouse-over */
.active, .icon_btn:hover {
    background-color: #666;
    color: white;
}

.label_css {
    width: auto;
    border: 1px solid black;
    background-color: white;
}

/*.createExercise {
	position: absolute;
  top: 700px;
}*/