#IStoVCCON {
  height: 500px;
}

#IStoVCCON .jsavoutput.jsavline {
  height: 50px;
}

#IStoVCCON .jsavarray .jsavindex{
  min-width:30px;
  min-height:30px;
  height:30px;
  line-height:30px;
  text-align:center;
}

#IStoVCCON .jsavnode{
  width:35px;
  height:35px;
  min-width:35px;
  min-height:35px;
  background-color:AntiqueWhite;
}

#IStoVCCON .jsavedge {
  stroke-width:1.5px;
}

#IStoVCCON .highlightnode {
  background-color:Silver;
}
