#av {
	width: 100%;
	position: relative;
}
.arrayPlace {
	max-width: 100%;
	overflow: initial;
}
.start {
	font-style: italic;
	font-weight: bold;
}
.final {
	border: 3px double;
}
.testingND {
	background-color: blue;
}
.current {
	background-color: yellow;
}
.accepted {
	background-color: green;
}
.rejected {
	background-color: red;
}
.jsavcontrols {
	display: none;
}
.jsavlabel {
	font-size: 1em;
	text-align: center;
}
.jsavstatelabel {
	font-size: 1em;
	z-index: 700;
	position: absolute;
	display: inline-block;
	margin: 0;
}
.jsavmooreoutput {
	font-size: 1em;
	z-index: 700;
	position: absolute;
	display: inline-block;
	margin: 0;
}
.jsavcanvas {
	height: 500px;
}
.jsavgraph {
	outline: 1px black solid;
	border: 10px transparent solid;
}
.jsavnode {
	cursor: pointer;
}
.jsavedge {
	cursor: pointer;
	stroke: black;
	stroke-width: 1;
}
.testingLambda {
	color: red;
	stroke-width: 3;
	stroke: red;
}
.testingShorthand {
	stroke-width: 3;
	stroke: orange;
}
.edgeSelect {
	stroke-width: 3;
}
.jsavedgelabel {
	cursor: pointer;
	font-size: 1.0em;
}
.jsavarray .jsavindex {
  width: 200px;
	max-width: 1000px;
}

.jsavgraph .jsavedge {
    stroke-width: 2.0px !important;
}
.new {
	display: inline !important;
	border: none !important;
}

.icon_btn {
    background-color: White;
    border: none;
    color: Black;
    padding: 3px 8px;
    font-size: 12px;
    cursor: pointer;
}

/* Darker background on mouse-over */
.active, .icon_btn:hover {
    background-color: #666;
    color: white;
}

.label_css {
    width: auto;
    border: 1px solid black;
    background-color: white;
}

/*.createExercise {
	position: absolute;
  top: 700px;
}*/