.jsavnode.jsavarraytreenode {
  border: 1px solid #777;
  background-color: transparent;
  box-shadow: none;
  -o-border-radius: 0;
  -ms-border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  min-height: 32px;
}

.jsavarraytreenode .jsavarray {
  margin: 0;
}

.jsavarraytreenode .jsavarray {
  min-height: 32px;
}

.jsavarraytreenode .jsavhorizontalarray .jsavnode.jsavindex {
  -o-border-radius: 0;
  -ms-border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  height: 32px;
  width: 32px;
}

.jsavarraytreenode .jsavhorizontalarray.jsavautoresize .jsavnode.jsavindex {
  width: auto;
  min-width: 32px;
  height: auto;
  min-height: 32px;
}

.jsavarraytreenode .jsavhorizontalarray .jsavnode.jsavindex .jsavvalue {
  height: 32px;
}

.jsavhorizontalarray {
  width: auto !important;
}

.jsavarraytreenode .jsavnode {
  border: none;
  border-left: 5px solid #aaa;
  border-right: 5px solid #aaa;
}