.jsavtree { position: absolute; } /* position trees absolutely */
.jsavtree:nth-of-type(1) { left:50px;} /* move 2nd tree to the right */
.jsavtree:nth-of-type(2) { left:150px;} /* move 3rd tree to the right */
.jsavtree:nth-of-type(3) { left:250px;} /* move 4th tree to the right */
.jsavtree:nth-of-type(4) { left:350px;} /* move 5th tree to the right */
.jsavtree:nth-of-type(5) { left:450px;} /* move 6th tree to the right */
.jsavtree:nth-of-type(6) { left:550px;} /* move 7th tree to the right */
.jsavtree:nth-of-type(7) { left:650px;} /* move 8th tree to the right */
.jsavtree:nth-of-type(8) { left:750px;} /* move 9th tree to the right */
.jsavtree:nth-of-type(9) { left:350px;} /* move 9th tree to the right */
.jsavcanvas { height: 500px;} /* set the height of the container */

/* change size and margins of arrays*/
.jsavarray { margin: 0; height: 40px; min-height: 40px; position: absolute}
.jsavarray li { border-radius: 0 !important; height: 35px; width: 145px; font-size: 15px; line-height: 40px;}
.jsavarray:nth-of-type(1) {top: 0px;}
.jsavarray:nth-of-type(2) {top: 35px;}
.jsavarray:nth-of-type(3) {top: 70px;}
.jsavarray:nth-of-type(4) {top: 105px;}
.jsavarray:nth-of-type(5) {top: 140px;}
.jsavarray:nth-of-type(6) {top: 175px;}
.jsavarray:nth-of-type(7) {top: 210px;}
.jsavarray:nth-of-type(8) {top: 245px;}
.jsavarray:nth-of-type(9) {top: 280px;}

.huffmanleaf {
  border-radius: 1px;
  background-color: orange;
  line-height: 22px;
  z-index: 100; /* Prevents the tails of the edges from showing up in the background of the node */
}

.jsavnode.jsavtreenode.jsavbinarynode.huffmanleaf {
  height:32px !important;
  width:32px !important;
  line-height: 16px;
  z-index: 100;
  margin-top:3px; 
  padding-top: 1px;
}

.jsavautoresize .jsavnode {
  height:32px !important;
  min-height:32px !important;
  width:32px !important;
  min-width:32px !important;
}

.jsavoutput.jsavline {
  height: 35px;
}

.jsavmatrix .jsavarray {
  position: relative;
  top: 0;
}

.jsavmatrix .jsavarray li.jsavnode {
  width: 65px !important;
  min-width: 65px !important;
  max-width: 65px !important;
  background-color: transparent;
  color: inherit;
}

.jsavmatrix .jsavarray:nth-of-type(1) {
  font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
  font-size: 1.2em;
  font-weight: bold;
  color: #fff;
  border:1px #98bf21;
  background-color:#9ACD32;
}
