  .jsavautoresize .jsavnode {
		min-width: 33px;
		min-height: 33px;
	}
	.jsavverticalarray .jsavnode {
		line-height: 30px !important;
		min-width: 33px !important;
		max-width: 33px !important;
		min-height: 33px !important;
		max-height: 33px !important;
		border-radius: 0.2px !important;
	}
    .mypointer {
      text-decoration: underline;
    }
    .mypointer .jsavpointerarea {
      border-color: blue;
      background-color: red;
    }
