#BinRecDSCON .jsavcanvas {
 height: 180px;
}

#ListRecDSCON .jsavcanvas {
 height: 100px;
}

#SumBinaryTreeCON .jsavcanvas {
 height: 150px;
}


#SumBinaryTreeCON .jsavlabel { 
width: 100px;
height: 100px;
color: blue;
background-image: url(Icons/person.png);
background-size: cover;
}

#IneffBinaryTreeRangeCON .jsavcanvas {
 height: 300px;
}


