#LinearRecurrencesCON {
  height: 230px;
}
#LinearRecurrencesCON .jsavline {
  height: 40px;
}

#LinearRecurrencesCON .jsavgraph .jsavnode {
  line-height: 40px !important;
  min-width: 40px !important;
  max-width: 40px !important;
  min-height: 40px !important;
  max-height: 40px !important;
}

.dashed{
  stroke-dasharray: 5, 5;
}
.subProblemNode{
  background-color: lightgreen;
}
.subProblemEdge{
  stroke: green;
}