#LinearRecurrencesNCON {
  height: 250px;
}
#LinearRecurrencesNCON .jsavline {
  height: 40px;
}

#LinearRecurrencesNCON .jsavgraph .jsavnode {
  line-height: 40px !important;
  min-width: 40px !important;
  max-width: 40px !important;
  min-height: 40px !important;
  max-height: 40px !important;
}

.rotated {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}

.dashed{
  stroke-dasharray: 5, 5;
}
