#SummationOneToNCON {
  height: 350px;
}

#SummationOneToNCON .jsavline {
  height:75px;
}

#SummationOneToNCON .rotated {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
.highlight{
	fill: red;
}
.sizeLabel{
    font-size: 16px;
	  text-align: center;
}
.smallTriangle{
	fill: green; 
	opacity: 0.2 !important;
}
