.achievement-badge.compact {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    width: 100px;
    height: 100px;
    padding: 0;
    margin: 2px;
    font-size: 10px;

    opacity: 1.0;
    filter: alpha(opacity=100);
}

.empty-badge-picker {
    height: 100px; /* same height as the compact badge */

    display: table-cell;
    vertical-align: middle;
}

/* Badges already in the display case are faded/disabled for picking */
.badge-display-case .achievement-badge-owned.used {
    opacity: 0.5;
    filter: alpha(opacity=50);
}

.main-case {
    white-space: nowrap;
}
.sticker-book .badge-icon,
#animating-badge .badge-icon {
    max-width: 60px;
    max-height: 60px;
}
.editing .main-case .achievement-badge {
    /* Must be consistent with jQuery animation */
    box-shadow: 0 0 2px #005987;
}

.editing .main-case .achievement-badge.selected {
    border-color: #005987;
    box-shadow: 0 0 2px 1px #005987;
}
.achievement-badge.empty {
    position: relative;
    background: #eee url(/images/generic-badge-icon-inset.png) no-repeat center center;
    background-size: 80px;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/generic-badge-icon-inset.png', sizingMethod='scale');
}

.achievement-badge.compact .delete-icon {
    /* TODO: make pretty! */
    position: absolute;
    top: -1px;
    right: -1px;
    background: red;
    cursor: pointer;
    width: 15px;
    height: 15px;
    display: none;
    color: white;
    border: 1px solid darkRed;
    line-height: 15px;
    font-weight: bold;

    -moz-border-radius-topright: 5px;
    -webkit-border-top-right-radius: 5px;
    border-top-right-radius: 5px;

    text-shadow: none;
    z-index: 1;
}

.badge-display-case.editing .achievement-badge.selected .delete-icon {
    display: block;
}

.achievement-badge.compact .achievement-title {
    width: auto;
    position: relative;
    left: auto;
    top: auto;
    font-size: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 15px;
    margin-top: 5px;
}

.achievement-badge.compact .energy-points-badge {
    position: relative;
    display: inline-block;
    left: auto;
    top: auto;
    right: auto;
    float: none;
    height: auto;
    line-height: 20px;
    padding: 0;
}

.achievement-badge.compact .achievement-count {
    display: inline-block;
    font-size: 12px;
    width: auto;
    margin: 0 2px;
    position: static;
}

.badge-display-case .badge-picker {
    position: absolute;
    z-index: 1;

    background: #f7f7f7;
    border: 5px solid #999; /* must be the same as selected-indicator */
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    left: 4px;
    right: 4px;
    padding: 10px;
    margin-top: 5px;

    white-space: nowrap;
    overflow-x: auto;

    -moz-box-shadow: inset 0 0 0 1px #9f9f9f, inset 0 2px 4px 1px #7f7f7f, 0 3px 8px #aaa;
    -webkit-box-shadow: inset 0 0 0 1px #9f9f9f, inset 0 2px 4px 1px #7f7f7f, 0 3px 8px #aaa;
    box-shadow: inset 0 0 0 1px #9f9f9f, inset 0 2px 4px 1px #7f7f7f, 0 3px 8px #aaa;
    /* made visible by JS */
    display: none;
}

.achievement-badge .selected-indicator {
    position: absolute;
    z-index: 2;

    width: 0;
    height: 15px;

    /* simulate a triangle with borders */
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #999; /* must be the same as badge-picker */

    left: 50%;
    margin-left: -10px;
    bottom: -13px;

    display: none;
}

.editing .achievement-badge.selected .selected-indicator {
    display: block;
}

#animating-badge {
    position: absolute;
    z-index: 500;
    overflow: visible;
}
#animating-badge .achievement-badge.compact {
    border: 1px solid #999;
}

@media all and (max-width: 1185px) {
    .achievement-badge .selected-indicator {
        border-top: none;
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
        border-bottom: 7px solid #005987;
        left: 50%;
        margin-left: -5px;
        bottom: -1px;
    }
}
