#BPbuildCON
  height: 375px;
}

#BPbuildCON .jsavoutput.jsavline {
  height: 75px;
}

#BPfindCON
  height: 375px;
}

#BPfindCON .jsavoutput.jsavline {
  30px;
}

#BPdeleteCON {
  height: 375px;
}

#BPdeleteCON .jsavoutput.jsavline {
  75px;
}

#BPbuild5CON {
  height: 350px;
}

#BPbuild5CON .jsavoutput.jsavline {
  height: 75px;
}
