/* Removes top margin from array objects to make the diagram a litle more compact */
#BTreedgmCON .jsavarray {
  margin-top: 0;
  margin-bottom: 0;
  min-height: 30px;
}

#BTreedgmCON .jsavoutput.jsavline {
  height: 30px;
}

/* Change the size of each array box */
#BTreedgmCON .jsavarray .jsavindex {
  min-width: 33px;
  max-width: 33px;
  min-height: 30px;
  max-height: 30px;
}

/* Center text inside of array cell by making height equal to the container height */
#BTreedgmCON .jsavnode .jsavvalue {
  height: 20px;
}

/* Make the font of the labels inside of the arrays smaller */
.jsavarray .jsavvaluelabel {
  font-size: .9em;
}

/* Set width and height for the JSAV canvas */
#BTreedgmCON .jsavarray .jsavnode.jsavindex {
  border-radius: 0;
}

/* Styling for the BTreeCON diagram ***********************************/

#BTreedgmCON .jsavcanvas {
  height: 200px;
}
