#TTPbuildCON {
  height: 365px;
}

#TTPbuildCON .jsavoutput.jsavline {
  height: 75px;
}

#TTPfindCON
  height: 350px;
}

#TTPfindCON .jsavoutput.jsavline {
  30px;
}

#TTPdeleteCON {
  height: 365px;
}

#TTPdeleteCON .jsavoutput.jsavline {
  75px;
}
