/* Removes top margin from array objects to make the diagram a litle more compact */
.jsavarray {
  margin-top: 0;
  margin-bottom: 0;
  min-height: 30px;
}

.jsavoutput.jsavline {
  height: 30px;
}

/* Change the size of each array box */
.jsavarray .jsavindex {
  min-width: 33px;
  max-width: 33px;
  min-height: 30px;
  max-height: 30px;
}

/* Center text inside of array cell by making height equal to the container height */
.jsavnode .jsavvalue {
  height: 20px;
}

/* Make the font of the labels inside of the arrays smaller */
.jsavarray .jsavvaluelabel {
  font-size: .9em;
}

/* Make corners of arrays square */
.jsavarray .jsavnode.jsavindex {
  border-radius: 0;
}

/* Styling for the twoThreeTreeCON diagram ***********************************/

#twoThreedgmCON .jsavcanvas{
  height: 200px;
}

/* Sytling for the simpleInsertCON slide show ********************************/


/* Set width and height for the JSAV canvas */
#simpleInsertCON .jsavcanvas {
  height: 230px;
}

/* Sytling for the promoteCON slide show ********************************/

/* Set width and height for the JSAV canvas */
#promoteCON .jsavcanvas {
  height: 230px;
}

/* Sytling for the splitCON slide show ********************************/


/* Set width and height for the JSAV canvas */
#splitCON .jsavcanvas {
  height: 300px;
}
