#BSTsearchCON {
  height: 340px;
}

#BSTsearchCON .jsavcode{
  margin-left: 320px;
}

#BSTinsertCON {
  height: 530px;
}

#BSTinsertCON .jsavtree { 
  top: 35px;
}

#BSTdeletemaxCON {
  height: 340px;
}

#BSTdeletemaxCON .jsavcode{
  margin-left: 320px;
}

#BSTremoveCON {
  height: 700px;
}

#BSTremoveCON .jsavcode{
  margin-top: -10px;
}

#BSTremoveCON .jsavtree { 
  top: 35px;
}

#BSTinordertraversalCON {
  height: 600px;
}

#BSTinordertraversalCON .jsavcode{
  margin-top: -15px;
}

#BSTinordertraversalCON .jsavtree { 
  top: 40px;
}

#BSTpreordertraversalCON {
  height: 600px;
}

#BSTpreordertraversalCON .jsavcode{
  margin-top: -15px;
}

#BSTpreordertraversalCON .jsavtree { 
  top: 40px;
}

#BSTpostordertraversalCON {
  height: 600px;
}

#BSTpostordertraversalCON .jsavcode{
  margin-top: -15px;
}

#BSTpostordertraversalCON .jsavtree { 
  top: 40px;
}

.thinredline {
  stroke: red;
}

.rededge { /* Make a tree edge to be red */
  stroke: red;
  stroke-width: 3;
}

.thickblacknode { /* Make a node edge to be thick and black */
  background-color: white;
  color: black;
  border-color: black;
  border-width: 2px;
}

.clearnode { /* Make a node invisible in a slideshow */
  background-color: #eed;
  color: #eed;
  border-color: #eed;
  box-shadow: 2px 2px 2px rgba(120, 120, 120, 0.0);
}

.rednode { /* Make a node red */
  background-color: white;
  color: red;
  border-color: red;
  box-shadow: 2px 2px 2px rgba(120, 120, 120, 0.5);
}

