#BSTsearchCON {
  height: 360px;
}

#BSTsearchCON .jsavoutput.jsavline {
  height: 30px;
}

#BSTsearchCON .jsavcode {
  margin-left: 310px;
}

#BSTinsertCON {
  height: 535px;
}

#BSTinsertCON .jsavoutput.jsavline {
  height: 50px;
}

#BSTinsertCON .jsavtree { 
  top: 35px;
}

#BSTdeletemaxCON {
  height: 340px;
}

#BSTdeletemaxCON .jsavoutput.jsavline {
  height: 40px;
}

#BSTdeletemaxCON .jsavcode{
  margin-left: 320px;
}

#BSTremoveCON {
  height: 480px;
}

#BSTremoveCON .jsavoutput.jsavline {
  height: 40px;
}

#BSTremoveCON .jsavcode{
  margin-left: 370px;
}

#BSTremoveCON .jsavtree { 
  top: 35px;
}
