#preorderCON {
  height: 500px;
}

#preorderCON .jsavoutput.jsavline {
  height: 15px;
}

#preorderCON .jsavtree { 
  top: 35px;
}

#inorderCON {
  height: 500px;
}

#inorderCON .jsavoutput.jsavline {
  height: 15px;
}

#inorderCON .jsavtree { 
  top: 40px;
}

#inorderCON .jsavoutput.jsavline {
  height: 15px;
}

#postorderCON {
  height: 500px;
}

#postorderCON .jsavoutput.jsavline {
  height: 15px;
}

#postorderCON .jsavtree { 
  top: 40px;
}

#expressionTraversalCON {
  height: 430px;
}

#expressionTraversalCON .jsavoutput.jsavline {
  height: 25px;
}

#expressionTraversalCON .jsavcode {
  margin-top: 20px;
  margin-left: 350px;
}

#expressionTraversalCON .jsavtree {
  top: -200px;
  left: 250px;
}

#compositeTraversalCON {
  height: 950px;
}

#compositeTraversalCON .jsavcode {
  margin-top:  0px;
  margin-left: 300px;
}

#compositeTraversalCON .jsavtree {
  top: -770px;
  left: 300px;
}

/* Make these internal nodes square */
.internalnode {
  border-radius: 1px;
  background-color: white;
  line-height: 22px;
  z-index: 100; /* Prevents the tails of the edges from showing up in the background of the node */
}
