#huffmanBuildCON {
  height: 500px;
}

#huffmanCustomBuildAV {
  height: 490px;
}

#huffmanLabelCON {
  height: 500px;
}

#huffmanCodesCON {
  height: 500px;
}

#huffmanDecodeCON {
  height: 520px;
}
