#DFTpropCON {
  height: 480px;
}

#DFTpropCON .jsavoutput.jsavline {
  height: 30px;
}

.jsavmatrix .jsavnode {
  width: 45px !important;
  min-width: 45px !important;
  height: 45px !important;
  min-height: 45px !important;
}
