#FP3Code1CON {
  height: 420px;
}

#FP3Code1CON .jsavcode {
  margin-left: 315px;
  width: 530px;
}

#FP3Code1CON .jsavlabel{
  margin-bottom: 0;
}

#FP3Code1CON .jsavoutput.jsavline {
  height: 70px;
}

/* Makes all cells wider */
/*#FP3Code1CON .jsavarray .jsavnode {
  font-size: 15px;
  min-width: 60px !important;
  max-width: 60px !important;
}*/

/* Makes just one cell wider */
#FP3Code1CON  .jsavindex.jsavnode.wider {
    min-width : 60px !important;
    max-width : 60px !important;
}

#FP3Code2CON {
  height: 380px;
}

#FP3Code2CON .jsavcode {
  margin-left: 315px;
  width: 530px;
}

#FP3Code2CON .jsavlabel{
  margin-bottom: 0;
}

#FP3Code2CON .jsavoutput.jsavline {
  height: 30px;
}

/* Makes just one cell wider */
#FP3Code2CON  .jsavindex.jsavnode.wider {
    min-width : 60px !important;
    max-width : 60px !important;
}

