#buffintroCON {
  height: 500px;
}

#LRUCON {
  height: 500px;
}

#LRUwriteCON {
  height: 515px;
}

#LRUwriteCON .jsavline {
  height: 100px;
}

.jsavverticalarray .jsavnode.buffer {
  max-width: 100px !important;
  min-width: 100px !important;
}

.jsavhorizontalarray .jsavnode.buffer {
  max-width: 100px !important;
  min-width: 100px !important;
}
