#hamiltonianCycleCON {
  width: 800px;
  height: 500px;
}

.avcontainer{
  overflow: visible;
}

.jsavline{
  height: 50px;
}

.jsavarray .jsavindex{
	min-width:30px;
	min-height:30px;
	height:30px;
	line-height:30px;
        text-align:center;
}

.edgehighlight1{
        stroke:Brown;
        stroke-width: 3;
}

.edgehighlight2{
        stroke: SteelBlue;
        stroke-width: 2.5px;
}

