#HCtoTSPCON {
  width: 800px;
  height: 550px;
}

.avcontainer{
  overflow: visible;
}

.jsavline{
  height: 50px;
}

.jsavarray .jsavindex{
	min-width:30px;
	min-height:30px;
	height:30px;
	line-height:30px;
        text-align:center;
}

.jsavgraphnode{
	width:35px !important;
	height:35px !important; 
	min-width:35px !important;
 	min-height:35px !important;
	background-color:AntiqueWhite;
}

.jsavedgelabel{
       background-color:AliceBlue;
}

.jsavgraphedge{
	stroke-width:1.5px;
}

.extraedge{
	stroke:Teal;
}

.hcedge{
	stroke:IndianRed;
	stroke-width:8px !important;
	opacity:0.75;
}
