#threeSATtoCliqueCON{
  width: 800px;
  height: 500px;
}

.avcontainer{
  overflow: visible;
}

.jsavline{
  height: 50px;
}

.jsavgraphnode {
	min-width:30px;
	min-height:30px;
	max-width:30px;
	max-height:30px;
	height:30px;
	line-height:30px;
        text-align:center;
}
.labelcolor1{
	color:IndianRed;
}
.nodecolor1{
	background-color:IndianRed;
}
.labelcolor2{
	color:SeaGreen;
}
.nodecolor2{
	background-color:SeaGreen;
}
.labelcolor3{
	color:SteelBlue;
}
.nodecolor3{
	background-color:SteelBlue;
}
.edgefocus{
	stroke: Orange;
}
.edgehighlight{
	stroke:#CC0099;
	stroke-width:6;
}
