#TSPCON {
  width: 800px;
  height: 600px;
}

.avcontainer{
  overflow: visible;
}

.jsavline{
  height: 50px;
}

.jsavarray .jsavindex{
	min-width:30px;
	min-height:30px;
	height:30px;
	line-height:30px;
        text-align:center;
}
.jsavedgelabel{
        background-color:AliceBlue;
}

.jsavnode{
	width:30px;
	height:30px;
	min-width:30px;
	min-height:30px;
	font-size:75%; 
	background-color:AntiqueWhite;
}
.edgehighlight{
	stroke : IndianRed;
	stroke-width:5px;
	opacity:0.75;
}
.edgehighlightbold{
	stroke : IndianRed;
	stroke-width:8px;
	opacity:0.75;
}
