<IfModule mod_expires.c>
  # Enable expirations.
  ExpiresActive On
  # ExpiresActive on
  <FilesMatch "\.(ico|jpg|jpeg|png|gif)$">
    # ExpiresDefault A1209600
    ExpiresDefault "access plus 1 month"
    Header append Cache-Control "public"
  </FilesMatch>
  ExpiresByType text/css "access plus 1 week"
  ExpiresByType text/javascript "access plus 3 hours"

  # Cache all files for 2 weeks after access (A).
  ExpiresDefault A1209600

  <FilesMatch \.php$>
    # Do not allow PHP scripts to be cached unless they explicitly send cache
    # headers themselves. Otherwise all scripts would have to overwrite the
    # headers set by mod_expires if they want another caching behavior. This may
    # fail if an error occurs early in the bootstrap process, and it may cause
    # problems if a non-Drupal PHP file is installed in a subdirectory.
    ExpiresActive Off
  </FilesMatch>
</IfModule>   
