base-white = #FEFEFE
black =      #002b36
light-yellow = #fdf6e3
yellow =     #C4B400
orange =     #E97F45
red =        #DB514F
magenta =    #CF5590
violet =     #97649E
light-blue = #009FC7
blue =       #268bd2
cyan =       #2aa198
light-cyan = #19B4AC
emerald =    #30CDD5
light-green= #859900
lime-green = #97D452
green     =  #0B691E
gray=        #A6A6A6
light-gray=  #F7F7F7


