.more {
  display: none;
}
.admonition-todo {
  background-color: #FFC0CB;
}
.registration-popup {
  /*height: 300px;*/ /* The popup box must be as big as it is to accomodate space for errors */
  width: 250px;
}
.showHideLink {
  background-color: #FF0000;
}
.jsavcontainer {
  position: relative;
}
.prof_check_mark {
  position: absolute;
  bottom: 45px; /* top: 65px; */
  right: 10px;
  display: none;
}
/* Saving message for check mark proficiency indicator */
.cm_saving_msg {
  bottom: 25px;
  color: red;
  display: none;
  font-size: x-small;
  position: absolute;
  right: 12px;
}
/* Warning icon for check mark proficiency indicator */
.cm_warning_icon {
  position: relative;
  right: -10px;
  width: 20px;
}
/* Error message for check mark proficiency indicator */
.cm_error_msg {
  bottom: 10px;
  color: red;
  display: none;
  font-size: x-small;
  position: absolute;
  right: 10px;
  text-align: center;
}
/* Message that appears next to a showHide button */
.shb_msg {
  color: red;
  display: none;
  font-size: small;
  margin-left: 5px;
  position: relative;
}
/* Warning icon that appears next to a showHide button */
.shb_warning_icon {
  position: relative;
  top: 5px;
  width: 20px;
}
.mod_complete {
  color: lime;
  display: none;
  position: absolute;
  right: 20px;
  top: 0;
}
.resubmit_link {
  text-decoration: underline;
}

.error {
  color: red;
  font-size: 20px;
  text-align: center;
}

label {  
  display: block;  
}



























