.more {
  display: none;
}
.admonition-todo {
  background-color: #FFC0CB;
}
.showHideLink {
  background-color: #FF0000;
}
.jsavcontainer {
  position: relative;
}
.prof_check_mark {
  position: absolute;
  bottom: 45px; /* top: 65px; */
  right: 10px;
  display: none;
}
.prof_saving_msg {
  bottom: 25px;
  color: red;
  display: none;
  font-size: x-small;
  position: absolute;
  right: 12px;
}
.prof_warning_img {
  bottom: 40px;
  display: none;
  position: absolute;
  right: 15px;
  width: 20px;
}
.prof_error_msg {
  bottom: 10px;
  color: red;
  display: none;
  font-size: x-small;
  position: absolute;
  right: 10px;
  text-align: center;
}
.mod_complete {
  color: lime;
  display: none;
  position: absolute;
  right: 20px;
  top: 0;
}

.error {
  color: red;
  font-size: 20px;
  text-align: center;
}

label {  
  display: block;  
}



























