#container .jsavarray {
  left: -10px;
}
.jsavline {
  height: 80px;
  margin: 10px, 0;
}
.jsavcontainer {
  width: 760px;
  background-color: #eed;
  margin: 0 auto;
  border: 0;
}
.jsavcounter {
  float: left;
  width: 100px;
  margin-top: 15px;
}
.jsavsettings {
  float: right;
}
.jsavsettings:after {
  clear: both;
  display: block;
  content: "";
}
.jsavcontrols {
  width: 650px;
}
.jsavcontrols a {
  margin: 0 40px;
}
