.jsavhorizontalarray .jsavnode {
  min-width: 40px !important;
  min-height: 40px !important;
  background: #74a55b;
}

.jsavvaluelabel {
  font-weight: 600;
}

.labels  {
  position: relative;
  display: block;
  color: white;
  font-size: 170%;
  z-index: 500;
  font-weight: 600;
}

.midlabel {
  font-size: 150%;
}

.smalllabel {
 font-size: 120%;
}

.statelabel  {
 font-size: 120%;
 font-weight: 600;
}

.statelabellarge  {
 font-size: 150%;
 font-weight: 600;
}

.valuelabel  {
 font-size: 150%;
 color: yellow;
 background-color: #593f73;
 }

.box  {
  fill : #a55ba5;
  stroke : #a55ba5;
  z-index: -500;
}

.statebox  {
  stroke : Maroon;
  z-index: -500;
  border-width: inherit;
  border-radius: 50px;
}

.cleanbox {
  stroke-width: 0;
}

.yellowbox {
  z-index: -1000;
  border-width: inherit;
  border-radius: 50px;
  stroke-width: 0;
}

.yellowbox:hover {
  stroke-width : 5;
  stroke : #FFCC33;
}

.redboxbutton {
  stroke : Red;
  fill : Red;
  z-index: -1000;
  border-width: inherit;
  border-radius: 50px;
}

.redboxh  {
  fill : #fed7d7;
  stroke : #fed7d7;
  border-width: inherit;
  border-radius: 50px;
}

.bluebox  {
  fill : rgb(91, 91, 165);
  stroke : rgb(91, 91, 165);
  z-index: -500;
}

.calbox  {
  fill : #805ba5;
  stroke : #805ba5;
  z-index: -500;
}

.calboxhigh  {
  fill : #f2eff6;
  stroke : #f2eff6;
  z-index: -500;
}

.yellowout {
  stroke-width : 5;
  stroke : #FFCC33;
}
