#container {
  border: 1px solid black;
  background-color: #efe;
  overflow: hidden;
  width: 550px;
  height: 165px;
  position: relative;
}

#about {
  position: absolute;
  right: 5px;
  top: 5px;
}

.instructions {
  text-align:center;
  margin: 5px;
}

.inputs {
  text-align:center;
  margin-bottom: 5px;
}

.output {
  text-align:center;
  margin: 0;
}
