body, input {
  font-size: 14px;
  font-family: Tahoma,Verdana,Arial,Helvetica,sans-serif;;
}

#container {
  border: 1px solid black;
  background-color: #efe;
  overflow: hidden;
  width: 500px;
  height: 165px;
  position: relative;
}

#about {
  position: absolute;
  right: 5px;
  top: 5px;
}

.instructions {
  text-align:center;
  margin: 5px;
}

.tsize {
  position: absolute;
  left: 55px;
  top: 70px;
}

#tablesize {
  position: absolute;
  left: 200px;
  top: 85px;
  width: 100px;
}

.nrecs {
  position: absolute;
  left: 55px;
  top: 95px;
}

#numrecs {
  position: absolute;
  left: 200px;
  top: 110px;
  width: 100px;
}

#calculate {
  position: absolute;
  right: 5px;
  top: 95px;
}

.output {
  position: absolute;
  top: 140px;
  text-align:center;
  width: 500px;
  margin: 0;
}
