.jsavcontainer {
  height: 490px;
}

.jsavlist .jsavlistnode {
  min-height: 30px !important;
  max-height: 30px !important;
  line-height: 30px;
}

.jsavcanvas > svg {
  height: 550px;
  width: 835px;
}
