.jsavcontainer {
  width: 660px;
  background-color: #eed;
  margin: 0 auto;
  border: 0;
}
.jsavcontrols {
  margin-top: -35px;
}
.jsavoutput.jsavline{
  margin-top: -5px;
  height: 55px;
}

#collisionCON7.jsavcontainer {
  height: 250px;
}

#collisionCON8.jsavcontainer {
  margin-top: 25px;
  height: 250px;
  width: 860px;
}
