#HeapsortProficiency_container {
  width: 800px;
  height: 550px;
  border: 1px solid black;
  background-color: #efe;
  padding: 10px;
  overflow: hidden;
}
.jsavtree {top: -30px;}
.jsavline { height: 45px; margin: 0 0 0 20px;}
#decrement { margin-right: 20px;}
.jsavcontainer {
  background-color: #efe;
}
.jsavsettings {
  display: block;
  margin-top: 0;
  margin-left: 10px;
}