.jsavcontrols {
  margin-top: -35px;
}

.jsavcontainer {
  width: 660px;
  background-color: #eed;
  margin: 0 auto;
  border: 0;
}

.jsavoutput.jsavline{
  margin-top: -5px;
  height: 40px;
}

.jsavcanvas {
  height: 440px;
}