#InsertionSortWorstCaseCON {
  height: 500px;
}
.rotated {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
.largeLabel{
  font-size: 16px;
  text-align: center;
}
.bigTriangle{
  fill: blue; 
  opacity: 0.2 !important;
}
.smallTriangle{
  fill: green;
  opacity: 0.2 !important;
}
