#container {
  border: 1px solid black;
  background-color: #efe;
  overflow: hidden;
  width: 520px;
  height: 165px;
}

.instructions {
  text-align:center;
  margin: 0;
  margin-top: 0px;
}

.output {
  text-align:center;
  margin: 0;
  margin-top: -13px;
}

.standout {
  color: green;
  background-color: #ddd;
}