#container {
  width: 800px;
  height: 765px;
  overflow-y: visible;
  overflow-x: hidden;
}

.avcontainer{
  overflow: visible;
}

.jsavarray {
  padding-left: 0;
  position: absolute;
}

.jsavline {
  height: 50px;
  margin: 0;
}

.jsavindex.jsavarrow.leftarrow::before {
  left: 7px;
  border-color: blue transparent transparent;
}

.jsavindex.jsavarrow.rightarrow::before {
  left: 27px;
  border-color: red transparent transparent;
}