#container {
  width: 860px;
  height: 750px;
}

.jsavcontainer {
  height: 620px;
}

.jsavlistnode {
  width: 53px;
  height: 40px;
}

.jsavlist .jsavedge {
  stroke-width: 2;
}

.jsavarray {
  padding-left: 0;
}

.jsavcanvas > svg {
  height: 550px;
  width: 845px;
  z-index: 100;
}
