#container {
  width: 850px;
  height: 750px;
}

.jsavcontainer {
  height: 620px;
}

.jsavlist .jsavlistnode {
  min-height: 30px !important;
  max-height: 30px !important;
  line-height: 30px;
}

.jsavlist .jsavedge {
  stroke-width: 2;
}

.jsavarray {
  padding-left: 0;
}

.jsavcanvas > svg {
  height: 550px;
  width: 835px;
}
