#container {
  width: 800px;
  height: 365px;
  border: 1px solid black;
  background-color: #efe;
  padding: 10px;
  overflow: hidden;
}

#left {
  float: left;
  width: 60%;
  margin: 7px 0 0 0;
}

#right {
  float: right;
  width: 35%;
}

div h1 {
  background-color: #efe;
}

.jsavcontainer {
  background-color: #efe;
}

.jsavscroll {
  height: 150px;
}
