#container {
  width: 770px;
  height: 470px;
  border: 1px solid black;
  background-color: #efe;
  padding: 10px;
  overflow: hidden;
}

div h1 {
  background-color: #efe;
  margin: 5px;
}
.jsavcontainer {
  background-color: #efe;
  border: none;
}
.jsavcounter {
  position: absolute;
  width: 100px;
}
.jsavarray {
  padding-left:0;
}
.jsavline {
  height: 30px;
  margin: 0;
}
#about {
  float: right;
}
.jsavsettings {
  display: block;
  margin-top: -1px;
  margin-left: 10px;
}
form {
  clear: both;
}
