#container {
  width: 800px;
  height: 365px;
}

#left {
  float: left;
  width: 60%;
  margin: 7px 0 0 0;
}

#right {
  float: right;
  width: 35%;
}

#about {
  margin-top: 0;
}

.jsavscroll {
  height: 150px;
}
