#SortingLowerBoundCON {
  height: 550px;
}
.rotated {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
.greenNode{
  fill: green; 
  opacity: 0.5 !important;
}
.redNode{
  fill: red; 
  opacity: 0.5 !important; 
}
.smallLabel{
	font-size: 12px; 
	text-align: center;
}
.mediumLabel{
    font-size: 16px; 
	text-align: center;	
}
orangeFill{
	fill: orange; 
	opacity: 0.5 !important;
}