div h1 {
  text-align: center;
  border-bottom: 1px solid black;
  background-color: #efe;
  margin: 5px;
  margin-top: -10px;
}

form {
  clear: both;
}

.avcontainer {
  margin-top: -20px;
}
.jsavcontainer {
  background-color: #efe;
  border: none;
}
.jsavcounter {
  position: absolute;
  width: 100px;
}
.jsavarray {
  margin: 0;
  margin-left: -10px;
  margin-top: 10px;
}
.jsavline {
  width: 750px;
  margin: 0;
  margin-top: -5px;
}
.jsavcode {
  margin-top: -15px;
}
.jsavbararray .jsavindex {
  background-color: #eee;
}
.jsavsettings {
  display: block;
  margin-left: 10px;
}

.jsavindex.jsavarrow.leftarrow::before {
  left: 7px;
  border-color: blue transparent transparent;
}

.jsavindex.jsavarrow.rightarrow::before {
  left: 27px;
  border-color: red transparent transparent;
}

.jsavindex.jsavarrow.leftrightarrow::before {
  border-color: #CC00FF transparent transparent;
}

#container {
  width: 765px;
  height: 550px;
  border: 1px solid black;
  background-color: #efe;
  padding: 10px;
  overflow: hidden;
}

#ssperform {
  margin-top: -5px;
}

#run {
  margin-bottom: 5px;
}

#about {
  float: right;
}