#container {
  width: 800px;
  height: 570px;
}

.avcontainer{
  overflow: visible;
}

.jsavline{
  height: 40px;
}

.jsavgraph .jsavedge {
  stroke-width: 1.5px;
}

.jsavedge.markpath {
  stroke-width: 4;
  stroke: #f61010; //red
}
