#FibTreeCON {
    height: 500px/*700px*/;
    width: 900px/*900px*/;
}

.box {
    width: 30px;
    height: 20px;
    text-align: center;
    border: 1.2px solid black;
}

.box2{
    width: 30px;
    height: 20px;
    text-align: center;
    border: 1.2px solid black;
}
