.jsavcanvas {
    display: grid;
    width: 767px;
    height: 1400px;
    grid-template-columns: 500px 110px;
    grid-template-areas: "workspace equations";
}

.jsavverticalarray .jsavnode {
    line-height: 45px !important;
    /* min-width: 45px !important; */
    max-width: 400px !important;
    min-height: 25px !important;
    max-height: 60px !important;
    padding: 2% 7% 2% 7% !important;
}

.jsavdialog.ui-draggable > ul > li:hover {
    background-color: orange !important;
}

/* #equationbox {
    grid-area: equations;
    height: 0px;
} */

.value-box {
    font-size: em;
    line-height: .8em;
}

.selectedvalue {
    background-color: orange !important;
    border: red 2px solid !important;
}

.param {
    padding: 1px 2px;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    background-color: white;
}

.param:hover {
    cursor: grab !important;
    background-color: orange !important;
}

/* .param[data-domain="length"] {
    background-color: rgb(126, 255, 126);
}

.param[data-domain="temperature"] {
    background-color: rgb(126, 210, 255);
}

.param[data-domain="pressure"] {
    background-color: rgb(249, 152, 175);
}

.param[data-domain="coefficient"] {
    background-color: rgb(193, 193, 193);
} */

.boxparam {
    border: 0.05em solid black;
    border-radius: .2em;
    padding: 0px 0px;
    color: black;
    font-weight: normal;
}

.value[data-status='empty']{
    opacity: 0.3;
}

.unit:hover[data-status='filled'] {
    cursor: pointer !important;
    opacity: 0.5;
    background-color: green;
}

.value:hover {
    cursor: grab !important;
    opacity: 0.5;
    background-color: orange !important;
}

/* .boxparam[data-domain='empty']:hover {
    background-color: orange;
} */

/* .boxparam[data-domain='filled'] {
    padding: 1px 2px;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
} */

/* .boxparam[data-domain="length"] {
    background-color: rgb(126, 255, 126);
}

.boxparam[data-domain="temperature"] {
    background-color: rgb(126, 210, 255);
}

.boxparam[data-domain="pressure"] {
    background-color: rgb(249, 152, 175);
}

.boxparam[data-domain="coefficient"] {
    background-color: rgb(193, 193, 193);
} */

#figures {
    position: relative;
}

.solution-box {
    padding: 5px;
    background-color: yellow;
    display: inline-block;
    min-width: 100px;
    min-height: 15px;
    vertical-align: middle;
    border-radius: 4px;
    border-width: 2px;
    border-style: solid;
    border-color: black;
}

.helpbutton {
    color: black;
    font-weight: 600;
    z-index: 500;
    font-size: 150%;
    vertical-align: middle;
    display: inline-block;
    padding: 5px;
    cursor: pointer;
}

#WorkspaceList {
    height: 0px;
    grid-area: workspace;
    background-color: grey;
}

/* #equationSelectDDL {
    grid-area: inherit;
    z-index: 500;
    position: relative;
    top: 30px;
    left: 20px;
} */

.workspacelabel {
    color: black;
    font-size: 120%;
    font-weight: 400;
    z-index: 1000;
   }

.workspacebutton {
    /* color: black; */
    font-size: 120%;
    font-weight: 600;
    z-index: 500;
    cursor: pointer;
    border-style: solid;
    border-width: 4px;
    padding-left: 3px;
    padding-right: 3px
   }

.workspacebutton[data-type="add"] {
    color: blue !important;
}

.workspacebutton[data-type="remove"] {
    color: red !important;
}

.workspacebutton[data-type="solve"] {
    color: black !important;
}

/* .addequation {
    color: blue;
    font-size: 120%;
    font-weight: 600;
    z-index: 500;
    cursor: pointer;
   }

.delequation {
    color: red;
    font-size: 120%;
    font-weight: 600;
    z-index: 500;
    cursor: pointer;
   }

.solveequation {
    color: black;
    font-size: 120%;
    font-weight: 600;
    z-index: 500;
    cursor: pointer;
   } */

.addworkspace {
    color: black;
    font-size: 120%;
    font-weight: 600;
    z-index: 500;
    cursor: pointer;
   }

.equationPageTitle {
    color: black;
    font-size: 120%;
    font-weight: 300;
    z-index: 500;
    border-radius: 4px;
    border-width: 2px;
    border-style: solid;
    border-color: black;
   }

.close_x {
    color: black;
    font-weight: 600;
    z-index: 500;
    font-size: 150%;
    vertical-align: middle;
    display: inline-block;
   }

.close_x:hover {
    cursor: pointer;
}

.workspaceEquation {
    border: thin dashed black;
    padding: 2px;
    color: black;
    font-size: 100%;
    z-index: 500;
}

.solutionBox {
    border: thin dashed black;
    padding: 2px;
    color: black;
    font-size: 100%;
    z-index: 500;
}

.selectableEquation[data-status="no"] {
    border: thin dashed black;
    padding: 2px;
    color: black;
    font-size: 130%;
    z-index: 500;
}

.selectableEquation > * {
    pointer-events: none;
}

.selectableEquation[data-status="yes"] {
    background-color: yellow;
    padding: 2px;
    color: black;
    font-size: 130%;
    z-index: 500;
}

.selectableEquation:hover {
    cursor: grab !important;
    opacity: 0.5;
    background-color: orange !important;
}

.boxedEquation {
    border: thin dashed black;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 9px;
    padding-bottom: 9px;
    color: black; /* rgb(138, 100, 100); */
    font-size: 120%;
    z-index: 500;
}

.activeEqMenu {
    border: thin dashed black;
    padding: 2px;
    font-size: 120%;
    font-weight: normal;
    z-index: 500;
    color: black;
}

.activeEqMenu[data-selected="selected"] {
    font-weight: bold;
}

.activeEqMenu[data-selected="unselected"] {
    font-weight: normal;
    color: grey;
}

#float {
    position: fixed;
    z-index: 100;
    padding: 4px 8px;
    border-radius: 4px;
    display: none;
    opacity: 0.8;
    text-overflow: clip;
}

#unit_conversion {
    display: none;
    position: absolute;
    z-index: 200;
    border-radius: 4px;
    list-style: none;
    padding: 1em;
    background: white;
    font-family: serif;
    box-shadow: 1px 1px 6px 2px #AAA;
}

#unit_conversion li {
    cursor: pointer;
    margin: .2em 0;
}

#unit_conversion .current-unit {
    cursor: not-allowed;
    background: #CCC;
}

#unit_conversion li:hover {
    background: #CCC;
}

#problem_statement {
    grid-area: problem;
}

#equation_bank {
    font-size: 1.5em;
    /*grid-area: equations;*/
}

#EquationBank {
    font-size: 1.5em;
    grid-area: equations;
    background-color: whitesmoke;
}

.workspace {
    /*grid-area: workspace;*/
    position: relative;
    min-height: 150px;
    margin: 5px;
}

.workspace_id {
    position: absolute;
    left: 10px;
    top: 5px;
}

#workspace .blueprint {
    font-size: 1.5em;
    display: inline-block;
    margin: auto 2em;
    color: gray;
}

#workspace .boxed-equation {
    display: inline-block;
    font-size: 3em;
}

#workspace .boxed-equation * {
    vertical-align: middle;
}

#workspace .box {
    font-family: serif;
    border: .05em solid red;
    min-height: 1em;
    min-width: 1em;
    padding: .2em;
    border-radius: .2em;
    display: inline-block;
    text-align: center;
}

#workspace .var-name-box {
    color: #CCC;
    transform: translateY(.2em);
}

#workspace .filled-box .var-name-box {
    display: none;
}

#workspace .fillable-box {
    display: none;
}

#workspace .filled-box .fillable-box {
    display: block;
}

.text-overlay {
    position: relative;
}

.blueprint_wrapper {
    padding: .2em 1em;
}

#equation_bank .blueprint {
    cursor: pointer;
    background: #f9f984;
    padding: 1em;
    margin: 0 !important;
    border-radius: 8px;
}

mjx-container:focus {
    outline: none !important;
}

/* .selected {
    border: red 2px solid;
} */


.droppable {
    animation: flashingBg 1.6s infinite linear;
}

.droppable:hover {
    cursor: copy;
    animation: none;
    background: #f9f984;
}

.no-unit {
    margin-top: .2em;
}

.no-unit .unit-box {
    display: none;
}

.unit-box {
    font-style: italic;
    font-size: .4em;
    padding-top: .5em;
    line-height: .5em;
    box-sizing: border-box;
    cursor: pointer;
}

.helpPage {
    width: 500px;
    max-height: 800px;
    overflow: auto;
    padding: 20px;
}

.helpPage > ol {
    list-style-type: circle;
}

@keyframes flashingBg {
    0% {
        background: #f9f98433;
    }

    50% {
        background: #f9f984ff;
    }

    100% {
        background: #f9f98433;
    }
}