#FP6Code1CON {
    height: 700px;
    width: 960px
}

/* For some reason, this was necessary to get vert height to encompass all code */
#FP6Code1CON .jsavcanvas{
    min-height: -webkit-fill-available;
}

#FP6Code1CON .jsavcode {
  margin-left: 20px;
  width: 375px;
}

#FP6Code1CON .jsavlabel{
  margin-bottom: 0;
}

#FP6Code1CON .jsavlabel.emphasize{
  font-weight: bold;
}

#FP6Code1CON .jsavoutput.jsavline {
  height: 100px;
}

/* Makes all cells wider */
/*#FP6Code1CON .jsavarray .jsavnode {
  font-size: 15px;
  min-width: 60px !important;
  max-width: 60px !important;
}*/

/* Makes just one cell wider */
#FP6Code1CON  .jsavindex.jsavnode.wider {
    min-width : 150px !important;
    max-width : 150px !important;
}

#FP6Code1CON  .jsavindex.jsavnode.addBonusPoint {
    background-color: LightBlue;
}

#FP6Code1CON  .jsavindex.jsavnode.doubleAll {
    background-color: LightGreen;
}

#FP6Code1CON .jsavcodeline.mapfuncwidth{
    width: 455px;
}

#FP6Code1CON .jsavcodeline.green {
    background-color: LightGreen;
}

#FP6Code1CON .jsavcodeline.blue {
    background-color: LightBlue;
}

#FP6Code1CON .jsavcodeline.red {
    background-color: LightCoral;
}

/*.newcolor {
    color: #458a4f;
    background-color: #7cc5ef
}*/


/* -------------------  Code 2 ------------------*/

#FP6Code2CON {
    height: 380px;
    width: 800px
}

/* For some reason, this was necessary to get vert height to encompass all code */
#FP6Code2CON .jsavcanvas{
    min-height: -webkit-fill-available;
}

#FP6Code2CON .jsavcode {
  margin-left: 285px;
  width: 460px;
}

#FP6Code2CON .jsavlabel{
  margin-bottom: 0;
}

#FP6Code2CON .jsavlabel.emphasize{
  font-weight: bold;
}

#FP6Code2CON .jsavoutput.jsavline {
  height: 50px;
}

/* Makes all cells wider */
/*#FP6Code2CON .jsavarray .jsavnode {
  font-size: 15px;
  min-width: 60px !important;
  max-width: 60px !important;
}*/

/* Makes just one cell wider */
#FP6Code2CON  .jsavindex.jsavnode.wider {
    min-width : 230px !important;
    max-width : 230px !important;
}

#FP6Code2CON .jsavcodeline.green {
    background-color: LightGreen;
}

#FP6Code2CON .jsavcodeline.blue {
    background-color: LightBlue;
}

#FP6Code2CON .jsavcodeline.red {
    background-color: LightCoral;
}


/* -------------------  Code 3 ------------------*/

#FP6Code3CON {
    height: 400px;
    width: 800px
}

/* For some reason, this was necessary to get vert height to encompass all code */
#FP6Code3CON .jsavcanvas{
    min-height: -webkit-fill-available;
}

#FP6Code3CON .jsavcode {
  margin-left: 285px;
  width: 500px;
}

#FP6Code3CON .jsavlabel{
  margin-bottom: 0;
}

#FP6Code3CON .jsavlabel.emphasize{
  font-weight: bold;
}

#FP6Code3CON .jsavoutput.jsavline {
  height: 50px;
}

/* Makes all cells wider */
/*#FP6Code3CON .jsavarray .jsavnode {
  font-size: 15px;
  min-width: 60px !important;
  max-width: 60px !important;
}*/

/* Makes just one cell wider */
#FP6Code3CON  .jsavindex.jsavnode.wider {
    min-width : 260px !important;
    max-width : 260px !important;
}

#FP6Code3CON .jsavcodeline.green {
    background-color: LightGreen;
}

#FP6Code3CON .jsavcodeline.blue {
    background-color: LightBlue;
}

#FP6Code3CON .jsavcodeline.red {
    background-color: LightCoral;
}


