#FP8Code1CON {
    height: 740px;
    width: 960px
}

/* For some reason, this was necessary to get vert height to encompass all code */
#FP8Code1CON .jsavcanvas{
    min-height: -webkit-fill-available;
}

#FP8Code1CON .jsavcode {
  margin-left: 20px;
  width: 600px;
}

#FP8Code1CON .jsavlabel{
  margin-bottom: 0;
}

#FP8Code1CON .jsavlabel.emphasize{
  font-weight: bold;
}

#FP8Code1CON .jsavoutput.jsavline {
  height: 100px;
}

/* Makes all cells wider */
/*#FP8Code1CON .jsavarray .jsavnode {
  font-size: 15px;
  min-width: 60px !important;
  max-width: 60px !important;
}*/

/* Makes just one cell wider */
#FP8Code1CON  .jsavindex.jsavnode.wider {
    min-width : 60px !important;
    max-width : 60px !important;
}


#FP8Code1CON  .jsavindex.jsavnode.arrayblue {
    background-color: LightBlue;
}

#FP8Code1CON  .jsavindex.jsavnode.arraygreen {
    background-color: LightGreen;
}



#FP8Code1CON .jsavcodeline.extrawidth{
    width: 455px;
}

#FP8Code1CON .jsavcodeline.green {
    background-color: LightGreen;
}

#FP8Code1CON .jsavcodeline.blue {
    background-color: LightBlue;
}

#FP8Code1CON .jsavcodeline.red {
    background-color: LightCoral;
}

/*.newcolor {
    color: #458a4f;
    background-color: #7cc5ef
}*/


