input {
  margin: 0.4rem;
}

input.inputbox {
  position: relative;
  left: 250px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

input.del {
  position: relative;
  left: 250px;
  height: 23px;
  font-size: 17px;
  color: white;
  background-color: cornflowerblue;
  border-radius: 3px;
  border-width: 0;
  margin: 0;
  outline: none;
  text-align: center;
  cursor: pointer;
}

input.add {
  position: relative;
  font-size: 17px;
  height: 23px;
  color: white;
  background-color: cornflowerblue;
  border-radius: 3px;
  border-width: 0;
  margin: 0;
  outline: none;
  text-align: center;
  cursor: pointer;
}

input.submit_button {
  position: relative;
  height: 23px;
  font-size: 17px;
  font-weight: bold;
  color: white;
  background-color: cornflowerblue;
  border-radius: 3px;
  border-width: 0;
  margin: 0;
  outline: none;
  text-align: center;
  cursor: pointer;
}