#exerciseLoader {
    width: 80%;
    height: 80%;
    overflow: hidden;
}
#exerciseLoadIframe {
    position: absolute;
   /* min-height: auto; /*100%*/
/* min-width: auto; */
    width: 70%;
    height: 70%;
    overflow: hidden;
}
#custom-button {
    padding: 10 px;
    color: white;
    border: 1px solid #000;
    border-radius: 5 px;
    cursor: pointer;
    background-color: #009578;
}
#custom-button:hover {
    background-color: #00b28f;
}