/**
#7D8879
#F6B611
#FFF050
.jsavnode {
  background-color: red;
}
*/

/**#container {
  width: 800px;
  height: 595px;
}
.jsavline {
  height: 45px;
  margin: 0 0 0 20px;
}

#procontrols {
  text-align: center;
}
.jsavlabel.jsavedgelabel{
}
.jsavgraph svg {
  z-index: 0;
}*/

.jsavnode.marked {
  background-color: #FFF050;
}

.jsavedge {
  stroke-width: 2.3 !important;
  stroke: #7D8879;
}
.jsavedge.selected {
  stroke: red;
}
