/******* GENERAL DEFAULTS *****/
h1 { font-size: 2em; }
h2 { font-size: 1.5em; margin: 0.83em 0;}
h3 { font-size: 1.17em; margin: 1em 0;}
h1, h2, h3, h4, h5, h6 { font-weight: bold;}
p { font-size: 1em; }
input {font-size: 0.7em; }
/******* END GENERAL DEFAULTS *****/

html, body {
  background-color: #eed;
  color: #000000;
  margin: 0px;
}

div h1 {
  text-align: center;
  border-bottom: 1px solid black;
  background-color: #eed;
  margin: -8px -8px 0px -8px;
  padding: 8px 8px 2px 8px;
}

p.annotation {
  color:red;
}

a, a:visited {
  color: #900;
}

a:hover {
  color: #d70;
}

applet {
  border: 1px solid black;
}
