.container {
  width: 780px;
  height: 655px;
  border: 1px solid black;
  background-color: #efe;
  padding: 10px;
  overflow: hidden;
}

.jsavarray {
  left: -10px;
  height: 80px;
}

.jsavcontainer {
  background-color: #efe;
}
.jsavexercisecontrols {
  text-align: center;
}
.instructLabel {
  margin-top: -5px;
}
.instructions {
  margin-top: -15px;
  padding: 10px;
  margin-right: 10px;
  border: 1px solid black;
}

.jsavline {
  height: 40px;
  margin: 0;
}

.jsavsettings {
  display: block;
  margin-top: 0;
  margin-left: 10px;
}

table.headerTable {
  margin-top: -20px;
}

table.headerTable .headerLeft {
  width: 125px;
}
table.headerTable .headerCenter {
  text-align: center;
  width: 550px;
}
table.headerTable .headerRight {
  text-align: right;
  width: 200px;
}

form {
  border: 0;
}
