.jsavcontainer {
  background-color: #eed;
  margin: 0 auto;
  border: 0;
}
.jsavcontrols {
  margin-top: -35px;
}
.jsavoutput.jsavline{
  margin-top: -5px;
  height: 55px;
}

.ssAV {
  font-size: 16px;
  font-family: "DejaVu Sans", Arial, Helvetica, sans-serif;
}
