.jsavcontainer {
  background-color: #eed;
  margin: 0 auto;
  border: 0;
}
.jsavcontrols {
  margin-top: -35px;
  margin-left: 35px; /* Center on screen, despite setting button */

}
.jsavoutput.jsavline{
  margin-top: -5px;
  height: 55px;
}

.ssAV {
  font-size: 15px;
}

/* CSS class to mark that a JSAV item is currently processed by the algorithm */
.processing {
  background-color: #ddf;
}
.jsavhighlight {
  color: black;
}
