.jsavcontainer {
  background-color: #eed;
  margin: 0 auto;
  border: 0;
  width: 850px;
}
ul li {
  background-image: none;
}
.jsavcontrols {
  margin-top: -35px;
  margin-left: 35px; /* Center on screen, despite setting button */

}
.jsavoutput.jsavline{
  margin-top: -5px;
  height: 55px;
  width: 800px;
}

.ssAV {
  font-size: 15px;
}

/* CSS class to mark that a JSAV item is currently processed by the algorithm */
.processing {
  background-color: #ddf;
}

.jsavcode {
  border: 1px solid;
  border-color: white;
}

.jsavcodeline.jsavhighlight {
  background-color: #ccc !important;
}
