<div class="exercise-edit" data-id="{{ name }}">
  <a href="{{ url }}" style="color: {{#if live}}#069{{else}}red{{/if}}; {{#if live}}text-decoration: line-through{{/if}}; display: block">{{ display_name }}</a></div>
</div>

