span.jsavvaluelabel{
    color:red;
    background-color:khaki;
    }

div.jsavlabel.label_one {
        color:  red;
        font-size: medium;
    }


ul.jsavcode.jsavcenter {
    position:relative;
    left: -20px;
}
    