#ChenVsCrossFootMultiAtt{
  height: 650px;
  width: 1100px;
  }
  .jsavverticalarray .jsavnode {
    line-height: 30px !important;
    min-width: 80px !important;
    max-width: 300px !important;
    min-height: 30px !important;
    max-height: 30px !important;
}
.jsavmatrix.jsavmatrixtable {

line-height: 30px !important;
    min-width: 80px !important;
    max-width: 600px !important;
    min-height: 30px !important;
    max-height: 300px !important;
}
.jsavoutput.jsavline {
  margin-top: -5px;
  height: 80px;
  width: 800px;
}
.jsavline.element.style {
  color: red;
}
.other{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.jsavhorizontalarray .jsavnode {
  line-height: 30px !important;
  min-width: 90px !important;
  max-width: 100px !important;
  min-height: 30px !important;
  max-height: 30px !important;
}
/* The animation code */
/*@keyframes example {
  0%   {background-color:red; left:0px; top:0px;}
  25%  {background-color:yellow; left:200px; top:0px;}
  50%  {background-color:blue; left:200px; top:200px;}
  75%  {background-color:green; left:0px; top:200px;}
  100% {background-color:red; left:0px; top:0px;}
}*/

/* The element to apply the animation to */
/*div {
  width: 100px;
  height: 100px;
  position: relative;
  background-color: red;
  animation-name: example;
  animation-duration: 4s;
}*/
h1 {
  text-shadow: 2px 2px 5px red;
}
/*h2{text-shadow: 2px 1px 3px yellow;}*/
/*body {
  background-color: lightblue;
}*/
/*p {
  font-family: verdana;
  font-size: 20px;
}*/
.dashed{
  stroke-dasharray: 5, 5;
}
