#TernaryRelationshipStoreXSol4{
  height: 550px;
  width: 1100px;
  }
 
 .jsavhorizontalarray .jsavnode {
  line-height: 30px !important;
  min-width: 70px !important;
  max-width: 100px !important;
  min-height: 15px !important;
  max-height: 30px !important;
}



