#terminal-and-visualization {
  display: flex;
  flex-direction: row;
}

#challenge {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#success-message {
  justify-self: end;
  display: flex;
  background-color: green;
  color: white;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  border-radius: 20px;
  gap: 1rem;
  margin-bottom: 1rem;
}

#success-message p {
  font-size: larger;
  font-weight: bold;
}

.hidden {
  opacity: 0;
}

.visible {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.fa-check {
  font-size: x-large;
}

.text {
  padding-right: 1rem;
  padding-left: 1rem;
  color: #0c3762;
}

#commandline {
  background-color: black;
  height: 43vh;
  padding: 1em;
  overflow: auto;
}

#visualization-container {
  border-style: solid;
  height: 49vh;
}

#arrayValues {
  color: white;
  background-color: black;
  border: 0;
  padding: 0;
}

#arrayValues:focus {
  outline: 0;
}

#history {
  color: white;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* #start-symbol-and-input {
  display: flex;
  color: white;
  align-items: center;
  height: 18px;
} */

/* .node--internal text {
  text-shadow: 0 1px 0 #fff, 0 -1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff;
} */
.output {
  padding-bottom: 1rem;
}

.symbol-and-input {
  display: flex;
  gap: 1rem;
  color: white;
  align-items: center;
}

.symbol-and-input p {
  padding: 0;
  margin: 0;
}

.link- {
  fill: none;
  stroke: #ccc;
  stroke-width: 2px;
}

.line {
  fill: none;
  stroke: black;
  stroke-width: 4px;
}

.link-local {
  fill: none;
  stroke: #ccc;
  stroke-width: 2px;
}

.link-remote {
  fill: none;
  stroke: #ccc;
  stroke-width: 2px;
}

.link-remote-commit {
  fill: none;
  stroke: #ccc;
  stroke-width: 2px;
}

.link-local-commit {
  fill: none;
  stroke: #ccc;
  stroke-width: 2px;
}

.output-list {
}

.output-list p {
  padding: 0;
  margin: 0;
}

.git-status {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem 0;
}

.git-status p {
  padding: 0;
  margin: 0;
}

.git-status-branch {
}

.git-status-staged {
}

.git-status-not-staged {
}

.git-status-untracked {
}

.git-status-files {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  padding-left: 2rem;
}

.git-status-files-names {
}

.git-status-files-statuses {
}

.git-status-staged .git-status-files p {
  color: #66ff00;
}

.git-status-not-staged .git-status-files p {
  color: red;
}

.git-status-untracked .git-status-files p {
  color: red;
}
