#av-container {
	width: 800px;
	height: 500px;
	background-color: #efe;
	border:1px solid #A5B6C8;
	padding: 10px;
	overflow-x: hidden;
	overflow-y: visible;
}

#av{
	overflow: visible;	
}

div h1 {
	background-color: #efe;
	margin: 5px;
}

.jsavcontainer {
	background-color: #efe;
	border: none;
	padding 0px;
}

.jsavcounter {
	float: left;
	width: 100px;
}

.jsavarray {
	padding-left:0;
	position: absolute;
}

p.jsavoutput.jsavline {
	height: 30px;
	margin: 0;
}

#about {
	float: right;
}

a.jsavsettings {
	display: block;
	margin-top: 10px;
	margin-left: 10px;
}

form {
	  clear: both;
}

