#Intersection {
  height: 1000px;
  width: 1000px;
}

.final {
	border: 3px double;
}

.jsavcanvas{
    height: auto;
    width:auto;
}

.jsavstatelabel {
	position: relative;
	font-size: 16px;
    text-align: center;
}

.jsavtree, .jsavgraph, .jsavlist {
  position: relative;
  background-color: inherit;
  display: inline;
}

.jsavcenter {
  margin-left: auto;
  margin-right: auto;
}


.jsavhorizontalarray .jsavnode {

	min-width: 45px !important;
	max-width: 45px !important;
}
