#container {
  width: 825px;
  height: 630px;
}

.jsavvariable {
  position: absolute;
  top: 195px;
  left: 25px;
  font-size: 150%;
}

#decrement {
  float: left;
}

#procontrols {
  text-align: center;
}

.jsavlabel {
  font-size: 120%;
}
.jsavhighlight {
  font-size: 110%;
}

.jsavstack {
  position: relative;
  background-color: inherit;
}
.jsavstacknode {
  position: absolute;
  border-radius: 5px;
  width: 45px;
  height: 45px;
  z-index: 100;
}