#container {
  width: 825px;
  height: 710px;
}

.jsavvariable {
  position: absolute;
  top: 195px;
  left: 25px;
  font-size: 150%;
}

#decrement {
  float: left;
}

#procontrols {
  text-align: center;
}