#searchCON {
  height: 400px;
}

#searchCON .jsavcode{
  border: 1px solid;
  border-color: white;
  margin-left: 320px;
  width: 530px;
}

#insertCON {
  height: 620px;
}

#insertCON .jsavcode{
  border: 1px solid;
  border-color: white;
}

#deletemaxCON {
  height: 400px;
}

#deletemaxCON .jsavcode{
  border: 1px solid;
  border-color: white;
  margin-left: 320px;
  width: 530px;
}

#removeCON {
  height: 850px;
}

#removeCON .jsavcode{
  border: 1px solid;
  border-color: white;
}

