label {
  margin-left: 5px;
}

#container {
  width: 800px;
  height: 540px;
}

#bottom {
padding-left: 5px;
  height: 90px;
  width: 805px;
  border: 1px solid black;
  background-color: #ddd;
  overflow: hidden;
}

#showcounts {
  margin-right: -8px;
  float: right;
}

#input {
  /* Spacing between the input box and the Next button */
  margin-right: 5px;
}

.countlabel {
  top: 5px !important;
  right: -20px !important;
  display: none;
}

.avcontainer {
  margin-top: 0;
}

.jsavarray {
   position: absolute;
}

.jsavarray .jsavindex {
  height: 10px;
  width: 140px;
  border-radius: 0 !important;
}

.jsavnode {
  line-height: 30px;
}

.jsavscroll {
  width: 370px;
  height: 460px;
  font-size: 100%;
  float: left;
  margin-left: -10px;
  margin-top: 5px;
  padding-left: 5px;
}

.jsavcanvas {
  margin-left: 300px;
  height: 550px;
  width: 500px;
}

#temp {
  margin-top: -550px;
  margin-left: 740px;
}

#temp .jsavcanvas{
  margin-top: 0px;
  margin-left: 0px;
}

#temp .jsavarray .jsavindex{
  height: 10px;
  width: 30px;
  border-radius: 0 !important;
}

#procontrols{
  text-align: left;
}
