.jsavleftpointerarea {
  border-right: 1px solid black;
  position: absolute;
  left: 0px;
  top: 0;
  width: 10px;
  height: 100%;
  background-color: #eee;
}
.jsavrightpointerarea {
  border-left: 1px solid black;
  position: absolute;
  right: 0px;
  top: 0;
  width: 10px;
  height: 100%;
  background-color: #eee;
}
.jsavhorizontallist.jsavautoresize .jsavnode {
  min-width: 45px;
  min-height: 30px; 
  max-height: 45px;
  line-height: 30px;
  padding-right: 0px;
}