label {
  margin-left: 5px;
}

#container {
  width: 800px;
  height: 575px;
}

#bottom {
padding-left: 5px;
  height: 90px;
  width: 805px;
  border: 1px solid black;
  background-color: #ddd;
  overflow: hidden;
}

#input {
  /* Spacing between the input box and the Next button */
  margin-right: 5px;
}

.avcontainer {
  margin-top: 0;
}

.jsavnode {
  line-height: 30px;
}

.jsavscroll {
  width: 370px;
  height: 505px;
  font-size: 95%;
  float: left;
  margin-left: -10px;
  margin-top: 5px;
  padding-left: 5px;
}

#procontrols{
  text-align: left;
}