#GenTreeCON .jsavcanvas {
  height: 470px;
  width: 600px;
}

#GenTreeCON {
  height: 470px;
}

#GenTreePreTravCON {
  height: 330px;
}

#GenTreePreTravCON .jsavoutput {
  height: 20px;
}

#GenTreePreTravCON .jsavtree {
  top: 30px;
}

#GenTreePostTravCON {
  height: 330px;
}

#GenTreePostTravCON .jsavoutput {
  height: 20px;
}

#GenTreePostTravCON .jsavtree {
  top: 30px;
}

