#GraphIntro3CON .jsavcanvas {
    
    height: 400px;
    
}

.matrixBorder{
	border-style: solid;
	border-width: 5px;
	stroke-width: 3;
}

.jsavverticalarray .jsavnode {
	line-height: 30px !important;
	min-width: 30px !important;
	max-width: 30px !important;
	min-height: 30px !important;
	max-height: 50px !important;
	height: 45px;
}
