#container {
  width: 800px;
  height: 650px;
  border: solid green;
}
#custom {
     visibility: hidden;
     
}

#graphControls {
	display: none;
	height:40px;
}
.createGraphs {
	height:40px;
	padding:0;
}
.avcontainer {
	width:600px;
	height:500px;
	padding:0;
}
.avcontainer2 {
 display:none;
width:600px;
height:500px;
}

.jsavgraph .jsavautoresize .jsavcenter {
	width:600px;
	height:500px;
}
.jsavcanvas {
	height:500px;
	width:600px;
}


.jsavline{
  height: 50px;
}




