#container {
	width: 800px;
	height: 380px;
	background-color: #efe;
	border:1px solid #A5B6C8;
	padding: 10px;
	 overflow-x: hidden;
	 overflow-y: hidden;
}

#av{
overflow: visible;	
}
.jsavtree { position: absolute; } /* position trees absolutely */
.jsavtree:nth-of-type(1) { left:50px;} /* move 2nd tree to the right */
.jsavtree:nth-of-type(2) { left:150px;} /* move 3rd tree to the right */
.jsavtree:nth-of-type(3) { left:250px;} /* move 4th tree to the right */
.jsavtree:nth-of-type(4) { left:350px;} /* move 5th tree to the right */
.jsavtree:nth-of-type(5) { left:450px;} /* move 6th tree to the right */
.jsavtree:nth-of-type(6) { left:550px;} /* move 7th tree to the right */
.jsavtree:nth-of-type(7) { left:650px;} /* move 8th tree to the right */
.jsavtree:nth-of-type(8) { left:750px;} /* move 9th tree to the right */
.jsavtree:nth-of-type(9) { left:350px;} /* move 9th tree to the right */
.jsavcanvas { height: 500px;} /* set the height of the container */			

// change size and margins of arrays
.jsavarray { margin: 0; height: 40px; min-height: 40px; position: absolute}
.jsavarray li { border-radius: 0 !important; height: 35px; width: 145px; font-size: 15px; line-height: 40px;}
.jsavarray:nth-of-type(1) {top: 0px;}
.jsavarray:nth-of-type(2) {top: 35px;}
.jsavarray:nth-of-type(3) {top: 70px;}
.jsavarray:nth-of-type(4) {top: 105px;}
.jsavarray:nth-of-type(5) {top: 140px;}
.jsavarray:nth-of-type(6) {top: 175px;}
.jsavarray:nth-of-type(7) {top: 210px;}
.jsavarray:nth-of-type(8) {top: 245px;}
.jsavarray:nth-of-type(9) {top: 280px;}

div h1 {
	background-color: #efe;
margin: 5px;
}
.jsavcontainer {
	background-color: #efe;
border: none;
	padding 0px;
}
.jsavcounter {
float: left;
width: 100px;
}
.jsavarray {
	padding-left:0;
position: absolute;
}
p.jsavoutput.jsavline {
height: 30px;
margin: 0;
}
#about {
float: right;
}
a.jsavsettings {
display: block;
	 margin-top: 10px;
	 margin-left: 10px;
}
