#finalHuffmanTree {
  width:450px;
  height:540px;
}

#DecodeExample {
  width:871px;
  height:620px;
}

#DecodeExample .jsavtree {
  left:370px;
}

.jsavautoresize .jsavnode {
  min-width:30px;
  min-height:30px;
  width: 30px;
  height: 30px;
}

#DecodeExample .jsavnode {
  line-height: 30px;
}

.jsavoutput {
  text-align: center
}