.jsavnode.jsavtreenode.jsavbinarynode.huffmanleaf {
  height:32px;
  width:32px;
  line-height: 16px;
  z-index: 100;
  margin-top:3px; 
  padding-top: 1px;
}

/* Sets maximum width to JSAV container */
#DecodeExample {
  padding-top: 30px;
  width: 650px;
}

/* Sets width and height to the JSAV canvas */
#DecodeExample .jsavcanvas {
  height: 330px;
  width: 620px;
}

#DecodeExample .jsavtree {
  margin-top: -25px;
  margin-left: 210px;
  left: 190px;
}

.jsavoutput.jsavline {
  width: 650px;
  padding-top: 20px;
  text-align: center;
}

.jsavnode .jsavvalue {
  height: 25px;
}

.jsavautoresize .jsavnode {
  min-width:25px;
  min-height:25px;
  width: 25px;
  height: 25px;
}

/*=================== MExample ===================*/
/* Sets maximum width to JSAV container */
#MExample {
  padding-top: 30px;
  width: 650px;
}

/* Sets width and height to the JSAV canvas */
#MExample .jsavcanvas {
  height: 330px;
  width: 600px;
}

#MExample .jsavtree {
  margin-top: -25px;
}

#MExample .jsavtree.jsavcommontree.jsavautoresize.jsavbinarytree {
  margin-left: 100px;
}

/*=================== Con1 ===================*/
#Con1 {
  padding-top: 30px;
  width: 650px;
}

/* Sets width and height to the JSAV canvas */
#Con1 .jsavcanvas {
  margin-top:20px;
  height: 335px;
  width: 300px;
}

#Con1 .jsavtree {
  margin-top: -15px;
  top: 0px;
  margin-left: 250px;
}

#Con1 .jsavoutput.jsavline {
  width:650px;
}

/*=================== finalHuffmanTree ===================*/

#finalHuffmanTree {
  width:370px;
  height:350px;
}

#finalHuffmanTree .jsavtree {
  margin-top: 1px;
  margin-left: 51px;
}

.jsavnode.jsavtreenode.jsavbinarynode .jsavvalue {
  height:25px;
}

/*=================== timeline ===================*/

#timeline {
  width: 600px;
  height: 520px;
}

#timeline .jsavtree {
  /*margin-left: 55px;*/
  margin-top: -20px;
}

#timeline .jsavoutput {
  width: 590px;
}