#varindexCON .jsavcanvas{
 overflow:visible;
 margin-left: auto;
 margin-right: auto;
 height: 250px;
 width: 540px;
}
#varindexCON .jsavoutput {
overflow:visible;
padding-top: 100px;
text-align: center;
}

#linindexCON .jsavcanvas {
 margin-left: auto;
 margin-right: auto;
 height: 250px;
 width: 580px;
}

svg{
  stroke-width: 1;
}

.jsavcanvas  > .jsavlabel {
	z-index: 100;
}