#AlistCON1 {
  height: 420px;
}

#AlistCON1 .jsavcanvas{
  margin-top: 20px;
}

#AlistCON1 .jsavnode{
  border: 1px solid;
  background-color: #eed;
  line-height: 28px;
  font-size: 12px;
  min-width: 28px;
  min-height: 28px;
}
#AlistCON1 .jsavcode{
  margin-left: 0px;
  margin-left: 250px;
  width: 560px;
}
#AlistCON2 {
  height: 260px;
}

#AlistCON2 .jsavcanvas{
  width: 850px;
}

.ssAV .jsavline{
	height: 30px;
}
.jsavcanvas{
  height:50px;
}
