.jsavcanvas{
	height: 500px;
}

.jsavpointer{
  border:1px solid #eee;
}
.jsavhorizontallist.jsavautoresize .jsavnode{
  min-width: 50px;
  min-height: 30px; 
  max-height: 45px;
  line-height: 30px;
}

.jsavhorizontalarray.jsavautoresize .jsavnode {
  min-width: 30px;
  max-width: 30px;
  min-height: 30px;
  max-height: 30px;
  line-height: 30px;
}

.jsavverticalarray.jsavautoresize .jsavnode {
  min-width: 30px;
  max-width: 30px;
  min-height: 30px;
  max-height: 30px;
  line-height: 30px;
}
#AStackVarCON {
  height: 480px;
}
#AStackVarCON .jsavoutput.jsavline {
  height: 50px;
}
#AStackTopposCON {
  height: 250px;
}
#AStackTopposCON .jsavoutput.jsavline {
  height: 30px;
}
