.jsavcodeline.jsavhighlight {
  background-color: #ccc !important;
}

.jsavnode{
  line-height: 30px !important;
  min-width: 30px !important;
  max-width: 30px !important;
  min-height: 30px !important;
  max-height: 30px !important;
}

#AlistInsertCON {
  height: 330px;
}

#AlistInsertCON .jsavcanvas{
  margin-top: 20px;
}

#AlistInsertCON .jsavcode{
  border: 1px solid;
  border-color: white;
  margin-left: 285px;
  width: 560px;
}

#AlistRemoveCON {
  height: 375px;
}

#AlistRemoveCON .jsavcode{
  border: 1px solid;
  border-color: white;
  margin-left: 287px;
  width: 560px;
}

.ssAV .jsavline{
  height: 45px;
}

.jsavcanvas{
  height:50px;
}

#AlistVarsCON {
  height: 310px;
}

#AlistVarsCON .jsavoutput.jsavline {
  height: 70px;
}

#AlistAppendCON {
  height: 280px;
}

#AlistAppendCON .jsavcode{
  border: 1px solid;
  border-color: white;
  margin-left: 350px;
  width: 400px;
}
