#listLinkedNodeCON {
  height: 100px;
}

#listLinkedInitCON {
  height: 100px;
}

#listLinkedHeaderTailerCON {
  height: 100px;
}

#LlistBadCON {
  height: 250px;
}
#LlistBadCON .jsavoutput.jsavline {
  height: 75px;
}

#LlistBadReasonCON {
  height: 250px;
}
#LlistBadReasonCON .jsavoutput.jsavline {
  height: 70px;
}

#LlistVarsCON {
  height: 280px;
}

#LlistVarsCON .jsavoutput.jsavline {
  height: 70px;
}

#LListCons {
  height: 390px;
}

#LListCons .jsavoutput.jsavline {
  height: 70px;
}

#LlistInsertCON {
  height: 450px;
}
#LlistInsertCON .jsavcode{
  border: 1px solid;
  border-color: white;
  position: relative;
  top: 150px;
  width: 600px;
}

#LlistSpecInsertCON {
  height: 290px;
}
#LlistSpecInsertCON .jsavcode{
  border: 1px solid;
  border-color: white;
  margin-left: 338px;
  width: 510px;
}
#LlistRemoveCON {
  height: 515px;
}

#LlistRemoveCON .jsavcode{
  border: 1px solid;
  border-color: white;  
  position: relative;
  top: 140px;
  width: 700px;
}

#LlistPosCON {
  height: 440px;
}

#LlistPosCON .jsavcode{
  border: 1px solid;
  border-color: white;  
  position: relative;
  top: 70px;
  width: 700px;
}
#LlistPosCON .jsavoutput.jsavline{
  height: 55px;
}
.jsavhorizontalarray.jsavautoresize .jsavnode {
  min-width: 35px;
  max-width: 35px;
  min-height: 35px;
  max-height: 35px;
  line-height: 35px;
}

.jsavhorizontallist.jsavautoresize .jsavnode {
  min-width: 30px;
  max-width: 30px;
  min-height: 30px;
  max-height: 30px;
  line-height: 30px;
  padding-right: 12px;
}
.jsavoutput.jsavline{
  height: 30px;
}
.jsavcanvas{
	height: 200px;
}





