.jsavcontainer {
  height: 650px;
}
.jsavlabel {
  border: 1px solid #eca;
  border-radius: 3px;
  padding: 1px 3px;
  background-color: #fe8;
  color: #975;
  position: absolute;
  z-index: 101;
  line-height: normal;
  font-size: medium;
}
.jsavtreenode.emptynode {
  border: 1px dashed #777 !important;
  background-color: #fff !important;
  color: #777 !important;
}
.jsavtreenode.rednode {
  background-color: #f00;
  color: #fff;
}
.jsavtreenode.blacknode {
  background-color: #000;
  color: #fff;
}
.selected, .selected .jsavvalue, .jsavarray.jsavbararray .jsavvalue.selected {
  font-size: 110%;
  background-color: #ddf;
}
.jsavtreenode.jsavredblacknode.rednode.selected {
  background-color: #f00;
}
.jsavtreenode.jsavredblacknode.blacknode.selected {
  background-color: #000;
}
.jsavtreenode.jsavredblacknode.selected {
  box-shadow: 0px 0px 5px 10px #ddf;  
}
.greybg, .greybg.jsavvalue, .jsavarray.jsavbararray .jsavvalue.greybg {
  background-color: #eee;
}
.greenbg, .greenbg.jsavvalue, .jsavarray.jsavbararray .jsavvalue.greenbg {
  background-color: #5f5;
}

.jsavstack {
  position: relative;
  background-color: inherit;
}
.jsavstacknode {
  position: absolute;
  border-radius: 5px;
  width: 45px;
  height: 45px;
  z-index: 100;
}