#container {
  width: 1000px;
  height: 1000px;
}

.avcontainer{
  overflow: visible;
}

.jsavline{
  height: 50px;
}

.jsavgraph .jsavedge {
  stroke-width: 1.5px;
}

.jsavautoresize .jsavgraph .jsavnode {
  width: 10px;

}
