.jsavoutput.jsavline {
  margin-bottom: -15px;
  height: 40px;
}
.jsavnode {
  cursor: pointer;
}
.jsavnode.jsavstacknode {
  width: 180px;
  box-shadow: 5px 5px 5px #666;
}
.pivot, .pivot.jsavvalue, .jsavarray.jsavbararray .jsavindex.pivot .jsavvalue {
  background-color: #fa2;
}
.inactive, .inactive.jsavvalue, .jsavarray.jsavbararray .jsavindex.inactive .jsavvalue {
  background-color: #f5f5f5;
  color: #ccc;
  box-shadow: 2px 2px 5px rgba(120, 120, 120, 0.2);
}
.jsavarray.jsavbararray .jsavindex.inactive .jsavindexlabel {
  color: #aaa;
}
.pivot.inactive, .pivot.inactive.jsavvalue, .jsavarray.jsavbararray .jsavindex.pivot.inactive .jsavvalue {
  background-color: #fec;
}
.greenbg.inactive, .greenbg.inactive.jsavvalue, .jsavarray.jsavbararray .jsavindex.greenbg.inactive .jsavvalue {
  background-color: #cfd;
}
.selected.greenbg, .selected.greenbg.jsavvalue, .jsavarray.jsavbararray .jsavindex.selected.greenbg .jsavvalue {
  background-image: repeating-linear-gradient(45deg, #bbf, #bbf 5px, #3f5 5px, #3f5 10px, #bbf 10px);
}
.selected, .selected.jsavvalue, .jsavarray.jsavbararray .jsavindex.selected .jsavvalue {
  font-size: 100%;
  background-color: #bbf;
}
.selected.pivot, .selected.pivot.jsavvalue, .jsavarray.jsavbararray .jsavindex.selected.pivot .jsavvalue {
  background-image: repeating-linear-gradient(45deg, #bbf, #bbf 5px, #fa2 5px, #fa2 10px, #bbf 10px);
}