#QuickSortWorstCaseCON {
  height: 625px;
}
.rotated {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
.smallLabel{
	font-size: 11px; 
	text-align: center;
}
.mediumLabel{
    font-size: 18px; 
	text-align: center;	
}
.mediumLabel2{
  font-size: 14px; 
  text-align: center;		
}
.largeLabel{
	font-size: 32px; 
	text-align: center;	
}
.blueFill{
	fill: blue; 
	opacity: 0.5 !important;
}

