/* Create styling for the pagedBSTCON diagram */

/* Set size for the jsav container */
#pagedBSTCON {
  width: 300px;
  height: 120px;
  padding: 25px;
}

/* Change the size of the tree nodes */
#pagedBSTCON .jsavtree .jsavnode {
  line-height: 15px;
  min-width: 15px;
  max-width: 15px;
  min-height: 15px;
  max-height: 15px;
}

/* Add padding to the rectangle container to show the all the rectangles */
#pagedBSTCON .jsavcanvas > svg {
  margin-top: -10px;
	height: 150px;
	width: 320px;
}

/* Create styling for the balanceBSTCON diagram */

/* Set size for the jsav container */
#balanceBSTCON {
  width: 380px;
  height: 115px;
  padding: 25px;
}

/* Change the size of the tree nodes */
#balanceBSTCON .jsavtree .jsavnode {
	line-height: 20px;
  min-width: 20px;
  max-width: 20px;
  min-height: 20px;
  max-height: 20px;
}

/* Add ofset to the top of the number labels of the tree to place number in center of tree node */
#balanceBSTCON .jsavtree .jsavnode .jsavvalue {
	margin-top: -12px;
}

/* Create styling for the colorizedBST diagram */

#colorizedBST {
  width: 600px;
}

#colorizedBST .jsavcanvas {
  width: 600px;
  height: 300px;
}

#colorizedBST .jsavtree .jsavnode {
  min-width: 20px;
  min-height: 20px;
  max-width: 20px;
  max-height: 20px;
  line-height: 20px;
}

#colorizedBST .jsavvalue {
  height: 20px;
}