
.jsavcanvas {
    height: 300px;
    min-height: 300px;
}

.jsavoutput {
    min-height: 55px;
}

.leaf-node li {
    background-color: #BBDFF2;
}

.leaf-node-value {
    background-color: #EB96AE;
}

.jsavarray {
    margin: 0;
}

.highlight-edge {
    /*stroke: #FF0 !important;*/
    stroke-width: 4.0
}

.jsavarray, .jsavarray .jsavnode {
    min-height: 30px;
    height: 30px;
    min-width: 35px;
    width: 35px
}

.jsavarray.leaf-node, .jsavarray.leaf-node .jsavnode {
    min-height: 45px;
    height: 45px;
}

.jsavnode .jsavvalue {
    height: 30px;
    line-height: 30px;
}

.leaf-node .jsavnode .jsavvalue {
    line-height: 17px;
}

.insert-label {
    display: block;
    width: 3.5em;
    position: relative;
    font-size: 1.3em;
    margin: 0;
}