/* Sets maximum width to JSAV container */
#twoThreeTreeCON {
	width: 530px;
}

/* Sets width and height to the JSAV canvas */
#twoThreeTreeCON .jsavcanvas {
	height: 200px;
	width: 530px;
}

/* Removes top margin from array objects to make the diagram a litle more compact */
.jsavarray {
	margin-top: 0; 
}

/* Change the size of each array box */
.jsavarray .jsavindex {
  min-width: 23px;
  max-width: 23px;
  min-height: 20px;
  max-height: 20px;
}

/* Center text inside of array cell by making height equal to the container height */
.jsavnode .jsavvalue {
	height: 20px;
}

/* Make the font of the labels inside of the arrays smaller */
.jsavarray .jsavvaluelabel {
	font-size: .8em;
}
