#container_compression {
      width: 700px;
	  height: 450px;
	  padding: 50px;
    }
.jsavcounter {
      position: absolute;
      top: 15px;
    }
.jsavcanvas { height: 500px; }

.jsavoutput {
      height: 75px;
    }
.jsavline {
      height: 80px;
    }
#root, path[data-endnode="root"] {
    opacity: 0 !important;
    pointer-events: none;
    }
.highlight{
  background-color: yellow;
}
.jsavtree .jsavnode {
  line-height: 35px !important;
  min-width: 35px !important;
  max-width: 35px !important;
  min-height: 35px !important;
  max-height: 35px !important;
}