#AnalyzingProblemsCON {
  height: 600px;
}
#AnalyzingProblemsCON .jsavline{
  height: 75px;
}
.dashed{
  stroke-dasharray: 5, 5;
}
.largeLabel{
	font-size: 16px; 
	text-align: center;
}
.mediumLabel{
    font-size: 12px; 
	text-align: center;
}
.smallLabel{
    font-size: 10px; 
	text-align: center;	
}
.colored{
	color: red;
}
