#BestWorstAverageCON {
  height: 600px;
}
#BestWorstAverageCON .jsavline{
  height: 120px;
}

#BestWorstAverageCON .jsavhorizontalarray .jsavnode{
  min-width: 50px !important;
  max-width: 200px !important;
  min-height: 35px !important;
  max-height: 35px !important;
}
.jsavcodeline{
  background-color: transparent;
  font-size: 10px;
}
