#MisunderstandingsGraphCON {
  height: 600px;
}
#MisunderstandingsGraphCON .jsavline{
  height: 100px;
}
.dashed{
  stroke-dasharray: 5, 5;
}
.largeLabel{
	font-size: 16px; 
	text-align: center;
}
.largePoint{
	font-size: 22px; 
	text-align: center;
}
.mediumPoint{
    font-size: 16px; 
	text-align: center;	
}
.colored{
	color: red;
}
