#ProblemAlgorithmCON {
  height: 460px;
}

#ProblemAlgorithmCON .jsavline{
  height: 120px;
}

#ProblemAlgorithmCON .jsavhorizontalarray .jsavnode{
  min-width: 50px !important;
  max-width: 200px !important;
  min-height: 35px !important;
  max-height: 35px !important;
}

#ProblemAlgorithmCON .jsavcodeline{
  background-color: transparent;
  font-size: 10px;
}
