#UpperBoundCON {
  height: 600px;
}
#UpperBoundCON .jsavline{
  height: 165px;
}
#UpperBoundCON .jsavhorizontalarray .jsavnode{
  min-width: 50px !important;
  max-width: 200px !important;
  min-height: 35px !important;
  max-height: 35px !important;
}
