#RegEXandRegLangStarFF {
    height: 700px;
    width: 900px;
}
.start {
    font-style: italic;
    font-weight: bold;
}
.final {
    border: 3px double;
}
.testingND {
    background-color: blue;
}
.current {
    background-color: yellow;
}
.accepted {
    background-color: green;
}
.rejected {
    background-color: red;
}

.jsavlabel {
    font-size: 2em;
    text-align: center;
}
.jsavstatelabel {
    font-size: 1em;
    z-index: 700;
    position: absolute;
    display: inline-block;
    margin: 0;
}
.jsavmooreoutput {
    font-size: 1em;
    z-index: 700;
    position: absolute;
    display: inline-block;
    margin: 0;
}

.jsavnode {
    cursor: pointer;
}
.jsavedge {
    cursor: pointer;
    stroke: black;
    stroke-width: 1;
}
.testingLambda {
    color: red;
    stroke-width: 3;
    stroke: red;
}
.testingShorthand {
    stroke-width: 3;
    stroke: orange;
}
.edgeSelect {
    stroke-width: 3;
}
.jsavedgelabel {
    cursor: pointer;
    font-size: 1.0em;
}
.jsavarray .jsavindex {
    width: 200px;
    max-width: 1000px;
}

.jsavgraph .jsavedge {
    stroke-width: 2.0px !important;
}
.new {
    display: inline !important;
    border: none !important;
}
.jsavcontrols {
    display: unset !important;
}