.jsavcontainer svg {
  pointer-events: visible;
}
.jsavedge.over {
  stroke-width: 4px;
  -webkit-transition: stroke-width 0.1s linear;
  -moz-transition: stroke-width 0.1s linear;
  transition: stroke-width 0.1s linear;
}
.jsavnode.from, .jsavnode.to{
  background-color: IndianRed;
  opacity : 0.5;
}

.jsavnode.from.to{
  background-color: IndianRed;
  opacity : 1;
}
.jsavedgelabel {
  background-color:white ;
}

