<div class="notification-bar" style="display:none;">
{% if login_notification %}
	<span class="notification-bar-content">The version of this page that you are viewing is out of date, and some features may stop working. Please <a href="javascript: location.reload(true)">refresh the page</a>.</span>
	<span class="notification-bar-close">(<a href="javascript:">close</a>)</span>
{% endif %}
</div>
<div class="notification-bar-spacer"></div>
