<div class="goal-new modal fade hide">
    <div class="modal-header">
        <a href="#" class="close-button close">x</a>
    </div>
    <div class="modal-body">
        <div class="viewcontents">
            {{> goal-new}}
        </div>
        <div style="clear: both"></div>
    </div>
</div>
