td{font-size:12px;}
td.large{font-size:18px;}

#topic a:visited{ text-decoration: none; color : #581C90; }

.mainmenu		{ font-size : 12px; color : #000000 }
a.mainmenu		{ text-decoration: underline; color : #ccc;  }
a.mainmenu:hover{ text-decoration: underline; color : #DD6900; }



img {border-style: none;}


div.hdg    {border-bottom:2px solid #80C65A;}
tr.hdgr td {background-color:#ffffff; border-bottom:2px solid #80C65A;}
tr.hdg     {background-color:#ffffff;}

td.hdg     {border-top:1px solid #80C65A;}

tr.f  td {background-color:#E6F8DD; border-top:1px solid #80C65A; border-bottom:1px solid #80C65A; padding:1em;}
tr.ft td {background-color:#E6F8DD; border-top:1px solid #80C65A; padding: 0.2em;}

.c, .c td{padding:2px 3px 2px 3px;line-height:1.3em;vertical-align:top;}

.g {color:#008000;}

#tn .q {padding-right:1.3em;}

#news a.so:link,a.so:active,a.so:visited {
  color:#008000;
  font-size: small;
}
#news .mainsrc {
  color:#6f6f6f;
}


.title{font-size:1.25em;}

.nobr { white-space:nowrap; }

.ci   {padding:2px 3px 2px 3px;line-height:1.3em;vertical-align:middle;color:#6f6f6f;width:80%;}
.ci a {color:#00c;}
.cinw   {padding:2px 3px 2px 3px;line-height:1.3em;vertical-align:middle;color:#6f6f6f;}
.cinw a {color:#00c; white-space:nowrap;}
td.pad {width:100%;}
.ts   {padding:2px 3px 2px 3px;line-height:1.3em;vertical-align:middle;text-align:left;width:10%;}
.ts a {padding:2px 3px 2px 3px; color:#00c;font-size:0.8em;text-decoration:none;}
.cd   {padding:2px 3px 2px 3px;font-size:0.85em;color:#333; width:1%;}
#h  td {border-bottom:1px #F1F1F1 solid;}
#h:hover td {background-color:#EEE;}
#hh td {border-bottom:1px #F1F1F1 solid;background-color:#EEE;}

#copyright {font-size: .8em;}

.highlightWhite td { background-color:#FFFFFF; }
.highlightGrey td { background-color:#EFEFEF; }
.highlightGreyRelated td { background-color:#EFEFEF; }

.highlight1 { background-color:#FFFFFF; }
.highlight2 { background-color:#EFEFEF; }
.selected1 { background-color:#FEFED7; }
.selected2 { background-color:#F6F6D1; }

.bld {font-weight:bold;}
.chg {color:#008000;}
.chr {color:#AA0033;}

/* market data div */
#md td {white-space:nowrap;}
#md b {color:#444444;}

.results a{ line-height:1.5em; }
.results a:hover{ line-height:1.5em; }
.results td {padding:2px 2px 2px 0px; }
.results img {margin-bottom:-1px;}
.results a.img, .results a.img img {border:0;}

/*These are for the arithmetic problems*/
FONT.Sel0
{
	FONT-FAMILY: arial,helvetica,sans-serif;
	FONT-SIZE: 3em;
	COLOR: #666666;
	FONT-WEIGHT: BOLD;
}



FONT.sel1 /*This says sel *one*..not two l's*/
{
	FONT-FAMILY: arial,helvetica,sans-serif;
	FONT-SIZE: 3em;
	COLOR: #D9A326;
	FONT-WEIGHT: BOLD;
}

FONT.sel2
{
	FONT-FAMILY: arial,helvetica,sans-serif;
	FONT-SIZE: 3em;
	COLOR: #E8887D;
	FONT-WEIGHT: BOLD;
}

FONT.sel3
{
	FONT-FAMILY: arial,helvetica,sans-serif;
	FONT-SIZE: 3em;
	COLOR: #9CC9B7;
	FONT-WEIGHT: BOLD;
}
	
FONT.sel4
{
	FONT-FAMILY: arial,helvetica,sans-serif;
	FONT-SIZE: 3em;
	COLOR: #AE9CC9;
	FONT-WEIGHT: BOLD;
}

FONT.sel5
{
	FONT-FAMILY: arial,helvetica,sans-serif;
	FONT-SIZE: 3em;
	COLOR: #CC6699;
	FONT-WEIGHT: BOLD;
}

FONT.sel6
{
	FONT-FAMILY: arial,helvetica,sans-serif;
	FONT-SIZE: 3em;
	COLOR: #FF6347;
	FONT-WEIGHT: BOLD;
}

FONT.noSel
{
	FONT-FAMILY: arial,helvetica,sans-serif;
	FONT-SIZE: 3em;
	COLOR: #666666;
	FONT-WEIGHT: BOLD;
}




FONT.selLight
{
	FONT-FAMILY: arial,helvetica,sans-serif;
	FONT-SIZE: 3em;
	COLOR: #EEEEEE;
	FONT-WEIGHT: BOLD;
}

FONT.doubleDigLight
{
	FONT-FAMILY: arial,helvetica,sans-serif;
	FONT-SIZE: 1.3em;
	COLOR: #EEEEEE;
	FONT-WEIGHT: BOLD;
}


FONT.inv
{
	FONT-FAMILY: arial,helvetica,sans-serif;
	FONT-SIZE: 3em;
	COLOR: #FFFFFF;
	FONT-WEIGHT: BOLD;
}

FONT.doubleDigInv
{
	FONT-FAMILY: arial,helvetica,sans-serif;
	FONT-SIZE: 1.3em;
	COLOR: #FFFFFF;
	FONT-WEIGHT: BOLD;
}



FONT.doubleDig0
{
	FONT-FAMILY: arial,helvetica,sans-serif;
	FONT-SIZE: 1.3em;
	COLOR: #666666;
	FONT-WEIGHT: BOLD;
}

FONT.doubleDig1 
{
	FONT-FAMILY: arial,helvetica,sans-serif;
	FONT-SIZE: 1.3em;
	COLOR: #D9A326;
	FONT-WEIGHT: BOLD;
}

FONT.doubleDig2
{
	FONT-FAMILY: arial,helvetica,sans-serif;
	FONT-SIZE: 1.3em;
	COLOR: #E8887D;
	FONT-WEIGHT: BOLD;
}

FONT.doubleDig3
{
	FONT-FAMILY: arial,helvetica,sans-serif;
	FONT-SIZE: 1.3em;
	COLOR: #9CC9B7;
	FONT-WEIGHT: BOLD;
}
	
FONT.doubleDig4
{
	FONT-FAMILY: arial,helvetica,sans-serif;
	FONT-SIZE: 1.3em;
	COLOR: #AE9CC9;
	FONT-WEIGHT: BOLD;
}

FONT.doubleDig5
{
	FONT-FAMILY: arial,helvetica,sans-serif;
	FONT-SIZE: 1.3em;
	COLOR: #CC6699;
	FONT-WEIGHT: BOLD;
}

FONT.doubleDig6
{
	FONT-FAMILY: arial,helvetica,sans-serif;
	FONT-SIZE: 1.3em;
	COLOR: #FF6347;
	FONT-WEIGHT: BOLD;
}

FONT.explanation
{
	FONT-FAMILY: arial,helvetica,sans-serif;
	FONT-SIZE: .9em;
	COLOR: #333333;
}

DIV.highlightBox
{
    BORDER-RIGHT: #333 1px solid;
    BORDER-LEFT: #333 1px solid;
    PADDING-RIGHT: 5px;
    BORDER-TOP: #333 1px solid;
    PADDING-LEFT: 5px;
    FONT-SIZE: 12px;
    PADDING-BOTTOM: 4px;
    VERTICAL-ALIGN: bottom;
    COLOR: #333;
    LINE-HEIGHT: 13px;
    PADDING-TOP: 4px;
    BORDER-BOTTOM: #333 1px solid;
    FONT-FAMILY: arial,helvetica,sans-serif;
    BACKGROUND-COLOR: #d2dded
}

DIV.highlightHeader
{
    BORDER-RIGHT: #333 1px solid;
    BORDER-LEFT: #333 1px solid;
    PADDING-RIGHT: 5px;
    BORDER-TOP: #333 1px solid;
    PADDING-LEFT: 5px;
    FONT-SIZE: 14px;
    PADDING-BOTTOM: 4px;
    VERTICAL-ALIGN: bottom;
    COLOR: #333;
    LINE-HEIGHT: 13px;
    PADDING-TOP: 4px;
    BORDER-BOTTOM: #b0bbcd 1px solid;
    FONT-FAMILY: arial,helvetica,sans-serif;
    BACKGROUND-COLOR: #b0bbcd;
    FONT-WEIGHT: BOLD
    
}

DIV.ptitle
{
    BORDER-RIGHT: #333 1px solid;
    BORDER-LEFT: #333 1px solid;
    PADDING-RIGHT: 5px;
    BORDER-TOP: #333 1px solid;
    PADDING-LEFT: 5px;
    FONT-SIZE: 14px;
    PADDING-BOTTOM: 3px;
    VERTICAL-ALIGN: bottom;
    COLOR: #333;
    LINE-HEIGHT: 13px;
    PADDING-TOP: 1px;
    BORDER-BOTTOM: #333 2px solid;
    FONT-FAMILY: arial,helvetica,sans-serif;
    BACKGROUND-COLOR: #ffcc99;
    FONT-WEIGHT: BOLD
    
}

DIV.titlebox
{
    BORDER-RIGHT: #FFF 1px solid;
    BORDER-LEFT: #FFF 1px solid;
    PADDING-RIGHT: 0px;
    BORDER-TOP: #FFF 1px solid;
    PADDING-LEFT: 0px;
    FONT-SIZE: 14px;
    PADDING-BOTTOM: 0px;
    VERTICAL-ALIGN: bottom;
    COLOR: #333;
    LINE-HEIGHT: 13px;
    PADDING-TOP: 0px;
    BORDER-BOTTOM: #999 2px solid;
    FONT-FAMILY: arial,helvetica,sans-serif;
    BACKGROUND-COLOR: #FFFFFF;
    FONT-WEIGHT: BOLD
    
}

/*used in add2.jsp*/
TD.answer     
{
	border-top:3px solid #666666;
	padding-top: 6px;
}

TD.colHeadL, TH.colHeadL
{
    BORDER-RIGHT: #fff 1px solid;
    PADDING-RIGHT: 5px;
    BORDER-TOP: #fff 1px solid;
    PADDING-LEFT: 5px;
    FONT-SIZE: 11px;
    PADDING-BOTTOM: 4px;
    VERTICAL-ALIGN: bottom;
    COLOR: #333;
    LINE-HEIGHT: 13px;
    PADDING-TOP: 4px;
    BORDER-BOTTOM: #ccc 1px solid;
    FONT-FAMILY: arial,helvetica,sans-serif;
    BACKGROUND-COLOR: #d2dded
}

TD.colHeadR
{
    BORDER-RIGHT: #fff 1px solid;
    PADDING-RIGHT: 5px;
    BORDER-TOP: #fff 1px solid;
    PADDING-LEFT: 5px;
    FONT-SIZE: 11px;
    PADDING-BOTTOM: 4px;
    VERTICAL-ALIGN: bottom;
    COLOR: #333;
    LINE-HEIGHT: 13px;
    PADDING-TOP: 4px;
    BORDER-BOTTOM: #ccc 1px solid;
    FONT-FAMILY: arial,helvetica,sans-serif;
    BACKGROUND-COLOR: #d2dded;
    TEXT-ALIGN: right
}


div.msg {
  text-align:center
}


div.header
  {
  border-bottom: 2px solid #999;
  width:100%;
  height:90px;
  }

div.topimg
  {
  margin:2px;
  height:inherit;
  width:auto;
  float:left;
  padding-top:5px;
  }
  
div.topimg img
  {
  display:inline;
  margin-left:20px;
  border:1px solid #ffffff;
  }
  

div.topimg form
  {
  display:inline;
  }




